<div class="product_bloc_content bloc ombre font-opensansR">
<div><strong>Passez &agrave; la vitesse sup&eacute;rieure avec l'USB&nbsp;3.0 !</strong> <br /> <br /> Gr&acirc;ce au d&eacute;bit d&eacute;cupl&eacute; de l&rsquo;USB 3.0, le bo&icirc;tier externe pour disque dur <strong>ICY&nbsp;BOX IB-254U3</strong> accomplit des transferts ultra rapides avec un port Host et un c&acirc;ble compatibles USB 3.0. Son support du protocole UASP et des disques SATA III 6Gbit/s permet de d&eacute;cupler les vitesses de transferts r&eacute;elles par rapport &agrave; un boitier externe USB 3.0 standard. <br /> <br /> L&rsquo;USB 3.0 est compatible avec les anciennes normes USB, en cons&eacute;quence l&rsquo; <strong>ICY&nbsp;BOX IB-254U3</strong> peut &eacute;galement fonctionner avec des ports USB 2.0 en offrant la vitesse maximale de l&rsquo;USB 2.0. <br /> <br /> <strong>Caract&eacute;ristiques techniques :<br /> </strong> <br />
<ul>
<li><strong>Boitier compact en aluminium + protection silicone<br /> </strong></li>
<li>Support des disques durs 2.5&rsquo;&rsquo; <strong>SATA III 6Gbp/s</strong></li>
<li><strong>Disques de 9.5 mm d'&eacute;paisseur maxi</strong></li>
<li><strong>Supporte le protocole UASP</strong></li>
<li><strong>USB 3.0 d&eacute;bit jusqu&rsquo;&agrave; 5 Gbit/s</strong></li>
<li>Installation sans outil</li>
<li>Affichage LED pour la mise sous tension et les acc&egrave;s au disque dur</li>
<li><strong>Plug &amp; Play et Hot Swap</strong></li>
<li>R&eacute;tro-Compatible USB 2.0 et 1.1</li>
<li>Compatible Windows / Mac / Linux</li>
</ul>
</div>
</div>