@font-face {
  font-family: 'reenie_beanieregular';
  src: url("fonts/ReenieBeanie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/fonts.scss */
.marginTop-1 {
  margin-top: 1em !important;
}

/* line 18, ../sass/fonts.scss */
.marginTop-2 {
  margin-top: 2em !important;
}

/* line 21, ../sass/fonts.scss */
.marginTop-3 {
  margin-top: 3em !important;
}

/* line 25, ../sass/fonts.scss */
.marginBottom-1 {
  margin-bottom: 1em !important;
}

/* line 28, ../sass/fonts.scss */
.marginBottom-2 {
  margin-bottom: 2em !important;
}

/* line 31, ../sass/fonts.scss */
.marginBottom-3 {
  margin-bottom: 3em !important;
}

/* line 35, ../sass/fonts.scss */
.text--center {
  text-align: center;
}

/* line 38, ../sass/fonts.scss */
.text--left {
  text-align: left !important;
}

/* line 41, ../sass/fonts.scss */
.text--right {
  text-align: right !important;
}

/* line 44, ../sass/fonts.scss */
.text--bold, strong {
  font-weight: 700;
}

/* line 47, ../sass/fonts.scss */
.text--red {
  color: #fd0864;
}

/* line 50, ../sass/fonts.scss */
.text--blue {
  color: #0dc3ca;
}

/* line 53, ../sass/fonts.scss */
.text--green {
  color: #8abe2b;
}

/* line 56, ../sass/fonts.scss */
.text--gray {
  color: gray;
}

/* line 59, ../sass/fonts.scss */
.text--coursive, em {
  font-style: italic;
}

/* line 62, ../sass/fonts.scss */
.text--small {
  font-size: .8rem;
  line-height: 1.5em;
}

/* line 67, ../sass/fonts.scss */
.title {
  line-height: 1.2em;
}

/* line 70, ../sass/fonts.scss */
.title--1, h1 {
  line-height: 1.2em;
  color: #0dc3ca;
  margin: 30px 0 20px;
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 70, ../sass/fonts.scss */
  .title--1, h1 {
    font-size: 3rem;
  }
}

/* line 81, ../sass/fonts.scss */
.title--2, h2 {
  font-size: 1.5rem;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  /* line 81, ../sass/fonts.scss */
  .title--2, h2 {
    font-size: 1.8rem;
  }
}

/* line 88, ../sass/fonts.scss */
.title--3, h3 {
  line-height: 1.2em;
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 88, ../sass/fonts.scss */
  .title--3, h3 {
    font-size: 1.2rem;
  }
}

/* line 96, ../sass/fonts.scss */
.title--red {
  color: #fd0864;
}

/* line 99, ../sass/fonts.scss */
.title--blue {
  color: #0dc3ca;
}

/* line 102, ../sass/fonts.scss */
.title--gray {
  color: gray;
}

/* line 105, ../sass/fonts.scss */
.title--green {
  color: #8abe2b;
}

/* line 110, ../sass/fonts.scss */
sup {
  font-size: .85em;
}

/* line 114, ../sass/fonts.scss */
a {
  text-decoration: none;
  color: #0dc3ca;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
/* line 118, ../sass/fonts.scss */
a.active {
  color: #fd0864;
}
/* line 121, ../sass/fonts.scss */
a:hover {
  color: #0a959a;
}
/* line 124, ../sass/fonts.scss */
a:active {
  color: white;
  background-color: #fd0864;
}

/* line 129, ../sass/fonts.scss */
strong {
  font-weight: 600;
}

/* line 134, ../sass/fonts.scss */
.mainContent p, .mainContentTitle p {
  margin-bottom: 15px;
}
/* line 138, ../sass/fonts.scss */
.mainContent ul, .mainContent ol, .mainContentTitle ul, .mainContentTitle ol {
  margin-bottom: 15px;
  padding-left: 20px;
}
/* line 145, ../sass/fonts.scss */
.mainContent ul, .mainContentTitle ul {
  list-style: disc;
}
/* line 148, ../sass/fonts.scss */
.mainContent ol, .mainContentTitle ol {
  list-style-type: decimal;
}

/* line 153, ../sass/fonts.scss */
blockquote {
  border-left: 2px solid #8abe2b;
  border-right: 2px solid #8abe2b;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  color: #47627d;
  line-height: 1.5em;
  font-style: italic;
  quotes: '\00AB' '\00BB';
}
@media (min-width: 768px) {
  /* line 153, ../sass/fonts.scss */
  blockquote {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  /* line 153, ../sass/fonts.scss */
  blockquote {
    margin: 1.5em 60px;
  }
}
/* line 170, ../sass/fonts.scss */
blockquote:before {
  color: #b9c8d7;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.2em;
}
/* line 178, ../sass/fonts.scss */
blockquote:after {
  color: #b9c8d7;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.2em;
}
/* line 186, ../sass/fonts.scss */
blockquote p {
  display: inline;
}
/* line 189, ../sass/fonts.scss */
blockquote.citation {
  font-size: 1rem;
  padding: 0 15px;
}
/* line 192, ../sass/fonts.scss */
blockquote.citation p {
  display: block;
  quotes: '\00AB' '\00BB';
}
/* line 195, ../sass/fonts.scss */
blockquote.citation p:before {
  color: #b9c8d7;
  content: open-quote;
}
/* line 199, ../sass/fonts.scss */
blockquote.citation p:after {
  color: #b9c8d7;
  content: close-quote;
}
/* line 203, ../sass/fonts.scss */
blockquote.citation p.author {
  text-align: right;
  margin-bottom: 0;
  font-style: normal;
}
/* line 204, ../sass/fonts.scss */
blockquote.citation p.author:before, blockquote.citation p.author:after {
  display: none;
}
/* line 211, ../sass/fonts.scss */
blockquote.citation p.url {
  text-align: right;
  margin-bottom: 0;
  font-size: .85em;
}
/* line 215, ../sass/fonts.scss */
blockquote.citation p.url:before, blockquote.citation p.url:after {
  display: none;
}
/* line 218, ../sass/fonts.scss */
blockquote.citation p.url a {
  color: #8abe2b;
}
/* line 223, ../sass/fonts.scss */
blockquote.citation:before, blockquote.citation:after {
  display: none;
}

/* line 56, sprites/*.png */
.sprites-sprite {
  background-image: url('../images/sprites-scaee3e284a.png');
  background-repeat: no-repeat;
}

/* line 14, ../sass/blog.scss */
.blog .mainContentTitle {
  background-color: gray;
  padding: 30px 15px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: "Lora", serif;
}
@media (min-width: 768px) {
  /* line 14, ../sass/blog.scss */
  .blog .mainContentTitle {
    min-height: 200px;
  }
}
@media (min-width: 1200px) {
  /* line 14, ../sass/blog.scss */
  .blog .mainContentTitle {
    min-height: 360px;
  }
}
/* line 28, ../sass/blog.scss */
.blog .mainContentTitle .title {
  font-size: 2rem;
  margin: 15px;
  text-shadow: 1px 1px 5px rgba(34, 47, 60, 0.5);
}
@media (min-width: 768px) {
  /* line 28, ../sass/blog.scss */
  .blog .mainContentTitle .title {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  /* line 28, ../sass/blog.scss */
  .blog .mainContentTitle .title {
    font-size: 4rem;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1175px;
    top: 50%;
    left: 50%;
  }
}
/* line 45, ../sass/blog.scss */
.blog__articleInfo {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.blog__articleInfo:after {
  content: "";
  display: table;
  clear: both;
}
/* line 51, ../sass/blog.scss */
.blog__articleInfoDate {
  display: block;
  text-align: center;
  color: gray;
}
@media (min-width: 768px) {
  /* line 51, ../sass/blog.scss */
  .blog__articleInfoDate {
    float: left;
    text-align: left;
  }
}
/* line 60, ../sass/blog.scss */
.blog__articleInfoCategory {
  display: block;
  text-align: center;
  color: #fd0864;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 60, ../sass/blog.scss */
  .blog__articleInfoCategory {
    float: right;
    text-align: right;
  }
}
/* line 71, ../sass/blog.scss */
.blog__intro {
  font-size: 1.2em;
  font-family: "Lora", serif;
  color: #47627d;
  line-height: 1.5em;
}
/* line 76, ../sass/blog.scss */
.blog__intro:first-letter {
  font-size: 2.4em;
  line-height: 1.5rem;
  vertical-align: -.22em;
  font-style: italic;
}
/* line 83, ../sass/blog.scss */
.blog__articlesList {
  padding-top: 30px;
}
/* line 85, ../sass/blog.scss */
.blog__articlesListItem {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 85, ../sass/blog.scss */
  .blog__articlesListItem {
    text-align: left;
  }
}
/* line 93, ../sass/blog.scss */
.blog__articlesListItem .title {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  /* line 93, ../sass/blog.scss */
  .blog__articlesListItem .title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  /* line 93, ../sass/blog.scss */
  .blog__articlesListItem .title {
    font-size: 2rem;
  }
}
/* line 103, ../sass/blog.scss */
.blog__articlesListItem .title.title--3 {
  font-size: 1rem;
}
/* line 107, ../sass/blog.scss */
.blog__articlesListItemFirst {
  margin-bottom: 15px;
  background-size: cover;
  background-position: center center;
  padding-top: 10px;
}
/* line 111, ../sass/blog.scss */
.blog__articlesListItemFirst .title {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: 1px 1px 5px rgba(34, 47, 60, 0.5);
  font-family: "Lora", serif;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  /* line 111, ../sass/blog.scss */
  .blog__articlesListItemFirst .title {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  /* line 111, ../sass/blog.scss */
  .blog__articlesListItemFirst .title {
    font-size: 3rem;
  }
}
/* line 125, ../sass/blog.scss */
.blog__articlesListItemFirstDate {
  font-family: "Lora", serif;
  text-shadow: 1px 1px 5px rgba(34, 47, 60, 0.5);
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
}
/* line 133, ../sass/blog.scss */
.blog__articlesListItemFirstIntro {
  text-align: center;
  padding: 15px;
  background: rgba(255, 255, 255, 0.75);
  color: #222f3c;
}
/* line 140, ../sass/blog.scss */
.blog__articlesListItemDate {
  color: gray;
  font-size: .75rem;
}
@media (min-width: 768px) {
  /* line 144, ../sass/blog.scss */
  .blog__articlesListItemMore {
    text-align: right;
  }
}
@media (min-width: 768px) {
  /* line 150, ../sass/blog.scss */
  .blog__articlesListItemImageIntro {
    padding-right: 25px;
  }
}
/* line 158, ../sass/blog.scss */
.blog__pagination {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}
/* line 162, ../sass/blog.scss */
.blog__pagination a {
  padding: 5px 15px;
  margin-top: 6px;
  display: inline-block;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
}
/* line 169, ../sass/blog.scss */
.blog__pagination a:first-child {
  border-left-width: 1px;
}
/* line 172, ../sass/blog.scss */
.blog__pagination a:active {
  background-color: #98afc5;
}
