/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 56, sprites/*.png */
.sprites-sprite {
  background-image: url('../images/sprites-sda7de5a88e.png');
  background-repeat: no-repeat;
}

/* line 13, ../sass/content.scss */
#mainContent, #mainContentLoader, #mainContentTitle {
  opacity: 1;
  -webkit-transition: all .15s ease;
          transition: all .15s ease;
}
/* line 16, ../sass/content.scss */
#mainContent.isHidden, #mainContentLoader.isHidden, #mainContentTitle.isHidden {
  opacity: 0;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}

/* line 21, ../sass/content.scss */
#mainContentLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 27, ../sass/content.scss */
.mainContent {
  padding-top: 15px;
}
/* line 29, ../sass/content.scss */
.mainContent h1, .mainContent h2, .mainContent h3 {
  line-height: 1.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 33, ../sass/content.scss */
.mainContent h1 {
  font-size: 3rem;
  font-family: "Lora", serif;
}
/* line 37, ../sass/content.scss */
.mainContent h2 {
  font-size: 2rem;
  font-family: "Lora", serif;
}
/* line 41, ../sass/content.scss */
.mainContent h3 {
  font-size: 1.5rem;
  font-family: "Muli", sans-serif;
  font-weight: 600;
}
/* line 46, ../sass/content.scss */
.mainContent p {
  margin-bottom: 15px;
}
/* line 49, ../sass/content.scss */
.mainContent strong {
  font-weight: 600;
}
/* line 52, ../sass/content.scss */
.mainContent ul, .mainContent ol {
  margin-bottom: 15px;
  padding-left: 20px;
}
/* line 59, ../sass/content.scss */
.mainContent ul {
  list-style: disc;
}
/* line 62, ../sass/content.scss */
.mainContent ol {
  list-style-type: decimal;
}
