/* line 7, ../sass/fonts.scss */
.marginTop-1 {
  margin-top: 1em !important;
}

/* line 10, ../sass/fonts.scss */
.marginTop-2 {
  margin-top: 2em !important;
}

/* line 13, ../sass/fonts.scss */
.marginTop-3 {
  margin-top: 3em !important;
}

/* line 17, ../sass/fonts.scss */
.marginBottom-1 {
  margin-bottom: 1em !important;
}

/* line 20, ../sass/fonts.scss */
.marginBottom-2 {
  margin-bottom: 2em !important;
}

/* line 23, ../sass/fonts.scss */
.marginBottom-3 {
  margin-bottom: 3em !important;
}

/* line 27, ../sass/fonts.scss */
.text--center {
  text-align: center;
}

/* line 30, ../sass/fonts.scss */
.text--left {
  text-align: left !important;
}

/* line 33, ../sass/fonts.scss */
.text--right {
  text-align: right !important;
}

/* line 36, ../sass/fonts.scss */
.text--bold, strong {
  font-weight: 700;
}

/* line 39, ../sass/fonts.scss */
.text--red {
  color: #fd0864;
}

/* line 42, ../sass/fonts.scss */
.text--blue {
  color: #0dc3ca;
}

/* line 45, ../sass/fonts.scss */
.text--green {
  color: #8abe2b;
}

/* line 48, ../sass/fonts.scss */
.text--gray {
  color: gray;
}

/* line 51, ../sass/fonts.scss */
.text--coursive, em {
  font-style: italic;
}

/* line 54, ../sass/fonts.scss */
.text--small {
  font-size: .8rem;
  line-height: 1.5em;
}

/* line 59, ../sass/fonts.scss */
.title {
  line-height: 1.2em;
}

/* line 62, ../sass/fonts.scss */
.title--1, h1 {
  line-height: 1.2em;
  color: #0dc3ca;
  margin: 30px 0 20px;
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 62, ../sass/fonts.scss */
  .title--1, h1 {
    font-size: 3rem;
  }
}

/* line 73, ../sass/fonts.scss */
.title--2, h2 {
  font-size: 1.5rem;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  /* line 73, ../sass/fonts.scss */
  .title--2, h2 {
    font-size: 1.8rem;
  }
}

/* line 80, ../sass/fonts.scss */
.title--3, h3 {
  line-height: 1.2em;
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 80, ../sass/fonts.scss */
  .title--3, h3 {
    font-size: 1.2rem;
  }
}

/* line 88, ../sass/fonts.scss */
.title--red {
  color: #fd0864;
}

/* line 91, ../sass/fonts.scss */
.title--blue {
  color: #0dc3ca;
}

/* line 94, ../sass/fonts.scss */
.title--gray {
  color: gray;
}

/* line 97, ../sass/fonts.scss */
.title--green {
  color: #8abe2b;
}

/* line 102, ../sass/fonts.scss */
sup {
  font-size: .85em;
}

/* line 106, ../sass/fonts.scss */
a {
  text-decoration: none;
  color: #0dc3ca;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
/* line 110, ../sass/fonts.scss */
a.active {
  color: #fd0864;
}
/* line 113, ../sass/fonts.scss */
a:hover {
  color: #0a959a;
}

/* line 117, ../sass/fonts.scss */
strong {
  font-weight: 600;
}

/* line 122, ../sass/fonts.scss */
.mainContent p, .mainContentTitle p {
  margin-bottom: 15px;
}
/* line 126, ../sass/fonts.scss */
.mainContent ul, .mainContent ol, .mainContentTitle ul, .mainContentTitle ol {
  margin-bottom: 15px;
  padding-left: 20px;
}
/* line 133, ../sass/fonts.scss */
.mainContent ul, .mainContentTitle ul {
  list-style: disc;
}
/* line 136, ../sass/fonts.scss */
.mainContent ol, .mainContentTitle ol {
  list-style-type: decimal;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 1200px) {
  /* line 17, ../sass/grid.scss */
  .row-d-o1 {
    padding-left: 16%;
    padding-right: 16%;
  }
  /* line 21, ../sass/grid.scss */
  .row-d-o2 {
    padding-left: 33%;
    padding-right: 33%;
  }
}
/* line 28, ../sass/grid.scss */
.row .col-m-75, .row .col-m-66, .row .col-m-50, .row .col-m-33, .row .col-m-25 {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 34, ../sass/grid.scss */
.row .col-m-75 {
  width: 75%;
}
/* line 37, ../sass/grid.scss */
.row .col-m-66 {
  width: 66.66%;
}
/* line 40, ../sass/grid.scss */
.row .col-m-50 {
  width: 50%;
}
/* line 43, ../sass/grid.scss */
.row .col-m-33 {
  width: 33.33%;
}
/* line 46, ../sass/grid.scss */
.row .col-m-25 {
  width: 25%;
}
/* line 51, ../sass/grid.scss */
.row .col-m-pl0 {
  padding-left: 0;
}
/* line 54, ../sass/grid.scss */
.row .col-m-pl1 {
  padding-left: 15px;
}
/* line 59, ../sass/grid.scss */
.row .col-m-pr0 {
  padding-right: 0;
}
/* line 62, ../sass/grid.scss */
.row .col-m-pr1 {
  padding-right: 15px;
}
/* line 67, ../sass/grid.scss */
.row .col-m-plr0 {
  padding-right: 0;
  padding-left: 0;
}
/* line 71, ../sass/grid.scss */
.row .col-m-plr1 {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  /* line 78, ../sass/grid.scss */
  .row .col-t-75, .row .col-t-66, .row .col-t-50, .row .col-t-33, .row .col-t-25 {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 83, ../sass/grid.scss */
  .row .col-t-75 {
    width: 75%;
  }
  /* line 86, ../sass/grid.scss */
  .row .col-t-66 {
    width: 66.66%;
  }
  /* line 89, ../sass/grid.scss */
  .row .col-t-50 {
    width: 50%;
  }
  /* line 92, ../sass/grid.scss */
  .row .col-t-33 {
    width: 33.33%;
  }
  /* line 95, ../sass/grid.scss */
  .row .col-t-25 {
    width: 25%;
  }
  /* line 99, ../sass/grid.scss */
  .row .col-t-right {
    float: right;
  }
  /* line 104, ../sass/grid.scss */
  .row .col-t-pl0 {
    padding-left: 0;
  }
  /* line 107, ../sass/grid.scss */
  .row .col-t-pl1 {
    padding-left: 15px;
  }
  /* line 112, ../sass/grid.scss */
  .row .col-t-pr0 {
    padding-right: 0;
  }
  /* line 115, ../sass/grid.scss */
  .row .col-t-pr1 {
    padding-right: 15px;
  }
  /* line 120, ../sass/grid.scss */
  .row .col-t-plr0 {
    padding-right: 0;
    padding-left: 0;
  }
  /* line 124, ../sass/grid.scss */
  .row .col-t-plr1 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 132, ../sass/grid.scss */
  .row .col-d-75, .row .col-d-66, .row .col-d-50, .row .col-d-33, .row .col-d-25 {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* line 137, ../sass/grid.scss */
  .row .col-d-75 {
    width: 75%;
  }
  /* line 140, ../sass/grid.scss */
  .row .col-d-66 {
    width: 66.66%;
  }
  /* line 143, ../sass/grid.scss */
  .row .col-d-50 {
    width: 50%;
  }
  /* line 146, ../sass/grid.scss */
  .row .col-d-33 {
    width: 33.33%;
  }
  /* line 149, ../sass/grid.scss */
  .row .col-d-30 {
    width: 30%;
  }
  /* line 152, ../sass/grid.scss */
  .row .col-d-25 {
    width: 25%;
  }
  /* line 155, ../sass/grid.scss */
  .row .col-d-20 {
    width: 20%;
  }
  /* line 159, ../sass/grid.scss */
  .row .col-d-right {
    float: right;
  }
  /* line 164, ../sass/grid.scss */
  .row .col-d-pl0 {
    padding-left: 0;
  }
  /* line 167, ../sass/grid.scss */
  .row .col-d-pl1 {
    padding-left: 15px;
  }
  /* line 172, ../sass/grid.scss */
  .row .col-d-pr0 {
    padding-right: 0;
  }
  /* line 175, ../sass/grid.scss */
  .row .col-d-pr1 {
    padding-right: 15px;
  }
  /* line 180, ../sass/grid.scss */
  .row .col-d-plr0 {
    padding-right: 0;
    padding-left: 0;
  }
  /* line 184, ../sass/grid.scss */
  .row .col-d-plr1 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* line 193, ../sass/grid.scss */
table.table {
  width: 100%;
  line-height: 1.3;
  font-size: 15px;
}
/* line 199, ../sass/grid.scss */
table.table tr:last-child td {
  border-bottom: none;
}
/* line 203, ../sass/grid.scss */
table.table tr th, table.table tr td {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #cdcdcd;
  padding: 10px;
}
/* line 208, ../sass/grid.scss */
table.table tr th:first-child, table.table tr td:first-child {
  padding-left: 0;
}
/* line 211, ../sass/grid.scss */
table.table tr th:last-child, table.table tr td:last-child {
  padding-right: 0;
}
/* line 215, ../sass/grid.scss */
table.table tr th {
  border-width: 0 0 2px 0;
  font-weight: 600;
}

/* line 224, ../sass/grid.scss */
img.img--responsive {
  max-width: 100%;
}
