/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../sass/fonts.scss */
.marginTop-1 {
  margin-top: 1em !important;
}

/* line 10, ../sass/fonts.scss */
.marginTop-2 {
  margin-top: 2em !important;
}

/* line 13, ../sass/fonts.scss */
.marginTop-3 {
  margin-top: 3em !important;
}

/* line 17, ../sass/fonts.scss */
.marginBottom-1 {
  margin-bottom: 1em !important;
}

/* line 20, ../sass/fonts.scss */
.marginBottom-2 {
  margin-bottom: 2em !important;
}

/* line 23, ../sass/fonts.scss */
.marginBottom-3 {
  margin-bottom: 3em !important;
}

/* line 27, ../sass/fonts.scss */
.text--center {
  text-align: center;
}

/* line 30, ../sass/fonts.scss */
.text--left {
  text-align: left !important;
}

/* line 33, ../sass/fonts.scss */
.text--right {
  text-align: right !important;
}

/* line 36, ../sass/fonts.scss */
.text--bold, strong {
  font-weight: 700;
}

/* line 39, ../sass/fonts.scss */
.text--red {
  color: #fd0864;
}

/* line 42, ../sass/fonts.scss */
.text--blue {
  color: #0dc3ca;
}

/* line 45, ../sass/fonts.scss */
.text--green {
  color: #8abe2b;
}

/* line 48, ../sass/fonts.scss */
.text--gray {
  color: gray;
}

/* line 51, ../sass/fonts.scss */
.text--coursive, em {
  font-style: italic;
}

/* line 54, ../sass/fonts.scss */
.text--small {
  font-size: .8rem;
  line-height: 1.5em;
}

/* line 59, ../sass/fonts.scss */
.title {
  line-height: 1.2em;
}
/* line 61, ../sass/fonts.scss */
.title--1 {
  color: #0dc3ca;
  margin: 30px 0 20px;
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 61, ../sass/fonts.scss */
  .title--1 {
    font-size: 3rem;
  }
}
/* line 71, ../sass/fonts.scss */
.title--2 {
  font-size: 1.5rem;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  /* line 71, ../sass/fonts.scss */
  .title--2 {
    font-size: 1.8rem;
  }
}
/* line 78, ../sass/fonts.scss */
.title--3 {
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 78, ../sass/fonts.scss */
  .title--3 {
    font-size: 1.2rem;
  }
}
/* line 85, ../sass/fonts.scss */
.title--red {
  color: #fd0864;
}
/* line 88, ../sass/fonts.scss */
.title--blue {
  color: #0dc3ca;
}
/* line 91, ../sass/fonts.scss */
.title--gray {
  color: gray;
}
/* line 94, ../sass/fonts.scss */
.title--green {
  color: #8abe2b;
}

/* line 99, ../sass/fonts.scss */
sup {
  font-size: .85em;
}

/* line 103, ../sass/fonts.scss */
a {
  text-decoration: none;
  color: #0dc3ca;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
/* line 107, ../sass/fonts.scss */
a.active {
  color: #fd0864;
}
/* line 110, ../sass/fonts.scss */
a:hover {
  color: #0a959a;
}

/* line 114, ../sass/fonts.scss */
strong {
  font-weight: 600;
}

/* line 119, ../sass/fonts.scss */
.mainContent p, .mainContentTitle p {
  margin-bottom: 15px;
}
/* line 123, ../sass/fonts.scss */
.mainContent ul, .mainContent ol, .mainContentTitle ul, .mainContentTitle ol {
  margin-bottom: 15px;
  padding-left: 20px;
}
/* line 130, ../sass/fonts.scss */
.mainContent ul, .mainContentTitle ul {
  list-style: disc;
}
/* line 133, ../sass/fonts.scss */
.mainContent ol, .mainContentTitle ol {
  list-style-type: decimal;
}

/* line 56, sprites/*.png */
.sprites-sprite, .no-svg .mainHeader__brand {
  background-image: url('../images/sprites-sda7de5a88e.png');
  background-repeat: no-repeat;
}

/* line 12, ../sass/header.scss */
.mainHeader {
  text-align: center;
  padding: 15px;
  overflow: hidden;
  position: relative;
}
/* line 17, ../sass/header.scss */
.mainHeader span.tHide {
  opacity: 0;
}
/* line 20, ../sass/header.scss */
.mainHeader .container {
  position: relative;
}
/* line 23, ../sass/header.scss */
.mainHeader__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 30, ../sass/header.scss */
.mainHeader__brand {
  width: 134px;
  height: 200px;
  display: block;
  background-image: url('data:image/svg+xml;charset=utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IldhcnN0d2FfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMzRweCIgaGVpZ2h0PSIyMDBweCIgdmlld0JveD0iMCAwIDEzNCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEzNCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZEMDg2NCIgZD0iTTY4LjAxOCw3My43NTRsLTIuOTE1LDIwLjY0bC00LjM0OSwzNC41MDhsMzMuOTgyLTQ1LjUzNEM5MS42MzMsODAuODM3LDc3LjEwMiw2OS43NjYsNjguMDE4LDczLjc1NCIvPg0KPHBhdGggZmlsbD0iI0ZEMDg2NCIgZD0iTTEzMy43NDEsMTkuOTg0Yy04LjIyMi05LjYyLTM2LjA0My0yMS4wMDItNDguNjY4LTE5LjkxMmMtMS4xNDUsMi43NzEtOC43NywyMS40MzYtMTAuMjMsMjUuMDA4DQoJYzE2Ljg0NC0yLjI3Nyw0MC40NDUsMTAuMjkyLDQ4LjY4OCwxOS45MThDMTI0Ljk2NCw0MS41MjQsMTMyLjY3NiwyMi41NjQsMTMzLjc0MSwxOS45ODQiLz4NCjxwYXRoIGZpbGw9IiMyMjJGM0MiIGQ9Ik0xMjAuNDU4LDE4MS40MzRjLTQuNzg5LTExLjQ1MS0xMS40Ny0yMC45MjMtMTkuNDU0LTI3Ljg5NWMtNy4wMzEsNS43MDktMTcuODU0LDE0LjIwMS0yNy4wMjUsMTQuMjAxDQoJYy0yNC4xNzEsMC0zOC43MTUtMjIuODY2LTM4LjcxNS01MS40OTNjMC0yOC42MjQsMTQuNTQ0LTUyLjE2OCwzOC43MTUtNTIuMTY4YzkuMTcyLDAsMTkuMjc2LDYuMTc3LDI2LjMxMSwxMS44ODYNCgljMTAuMDU0LTguNDMxLDEzLjcyOS0xMi45OTMsMTkuNTQ0LTIzLjg0NmMtMTIuNTg5LTExLjI2My0yOC41MjItMTguODM0LTQ1Ljg1NC0xOC44MzRjLTQwLjcxNCwwLTczLjcxOSwzNy45NzItNzMuNzE5LDgzLjc3Ng0KCUMwLjI1OSwxNjIuODY1LDMzLjI2NCwyMDAsNzMuOTc5LDIwMEM5MS42MDEsMjAwLDEwNy43NzcsMTkzLjA0LDEyMC40NTgsMTgxLjQzNCIvPg0KPC9zdmc+DQo=');
  background-repeat: no-repeat;
  margin: 0 auto 15px;
  cursor: pointer;
}
/* line 17, ../sass/mixins/_mixins.scss */
.no-svg .mainHeader__brand {
  background-position: 0 -80px;
}
/* line 35, ../sass/header.scss */
.mainHeader__title {
  background: white;
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 15px;
  display: inline-block;
  border-top: 1px solid #222f3c;
}
/* line 45, ../sass/header.scss */
.mainHeader__lang {
  position: absolute;
  top: 0;
  right: 0;
}
