@font-face {
  font-family: 'reenie_beanieregular';
  src: url("fonts/ReenieBeanie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/fonts.scss */
.marginTop-1 {
  margin-top: 1em !important;
}

/* line 18, ../sass/fonts.scss */
.marginTop-2 {
  margin-top: 2em !important;
}

/* line 21, ../sass/fonts.scss */
.marginTop-3 {
  margin-top: 3em !important;
}

/* line 25, ../sass/fonts.scss */
.marginBottom-1 {
  margin-bottom: 1em !important;
}

/* line 28, ../sass/fonts.scss */
.marginBottom-2 {
  margin-bottom: 2em !important;
}

/* line 31, ../sass/fonts.scss */
.marginBottom-3 {
  margin-bottom: 3em !important;
}

/* line 35, ../sass/fonts.scss */
.text--center {
  text-align: center;
}

/* line 38, ../sass/fonts.scss */
.text--left {
  text-align: left !important;
}

/* line 41, ../sass/fonts.scss */
.text--right {
  text-align: right !important;
}

/* line 44, ../sass/fonts.scss */
.text--bold, strong {
  font-weight: 700;
}

/* line 47, ../sass/fonts.scss */
.text--red {
  color: #fd0864;
}

/* line 50, ../sass/fonts.scss */
.text--blue {
  color: #0dc3ca;
}

/* line 53, ../sass/fonts.scss */
.text--green {
  color: #8abe2b;
}

/* line 56, ../sass/fonts.scss */
.text--gray {
  color: gray;
}

/* line 59, ../sass/fonts.scss */
.text--coursive, em {
  font-style: italic;
}

/* line 62, ../sass/fonts.scss */
.text--small {
  font-size: .8rem;
  line-height: 1.5em;
}

/* line 67, ../sass/fonts.scss */
.title {
  line-height: 1.2em;
}

/* line 70, ../sass/fonts.scss */
.title--1, h1 {
  line-height: 1.2em;
  color: #0dc3ca;
  margin: 30px 0 20px;
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 70, ../sass/fonts.scss */
  .title--1, h1 {
    font-size: 3rem;
  }
}

/* line 81, ../sass/fonts.scss */
.title--2, h2 {
  font-size: 1.5rem;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  /* line 81, ../sass/fonts.scss */
  .title--2, h2 {
    font-size: 1.8rem;
  }
}

/* line 88, ../sass/fonts.scss */
.title--3, h3 {
  line-height: 1.2em;
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 88, ../sass/fonts.scss */
  .title--3, h3 {
    font-size: 1.2rem;
  }
}

/* line 96, ../sass/fonts.scss */
.title--red {
  color: #fd0864;
}

/* line 99, ../sass/fonts.scss */
.title--blue {
  color: #0dc3ca;
}

/* line 102, ../sass/fonts.scss */
.title--gray {
  color: gray;
}

/* line 105, ../sass/fonts.scss */
.title--green {
  color: #8abe2b;
}

/* line 110, ../sass/fonts.scss */
sup {
  font-size: .85em;
}

/* line 114, ../sass/fonts.scss */
a {
  text-decoration: none;
  color: #0dc3ca;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
/* line 118, ../sass/fonts.scss */
a.active {
  color: #fd0864;
}
/* line 121, ../sass/fonts.scss */
a:hover {
  color: #0a959a;
}
/* line 124, ../sass/fonts.scss */
a:active {
  color: white !important;
  background-color: #fd0864;
}

/* line 129, ../sass/fonts.scss */
strong {
  font-weight: 600;
}

/* line 134, ../sass/fonts.scss */
.mainContent p, .mainContentTitle p {
  margin-bottom: 15px;
}
/* line 138, ../sass/fonts.scss */
.mainContent ul, .mainContent ol, .mainContentTitle ul, .mainContentTitle ol {
  margin-bottom: 15px;
  padding-left: 20px;
}
/* line 145, ../sass/fonts.scss */
.mainContent ul, .mainContentTitle ul {
  list-style: disc;
}
/* line 148, ../sass/fonts.scss */
.mainContent ol, .mainContentTitle ol {
  list-style-type: decimal;
}

/* line 153, ../sass/fonts.scss */
blockquote {
  border-left: 2px solid #8abe2b;
  border-right: 2px solid #8abe2b;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  color: #47627d;
  line-height: 1.5em;
  font-style: italic;
  quotes: '\00AB' '\00BB';
}
@media (min-width: 768px) {
  /* line 153, ../sass/fonts.scss */
  blockquote {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  /* line 153, ../sass/fonts.scss */
  blockquote {
    margin: 1.5em 60px;
  }
}
/* line 170, ../sass/fonts.scss */
blockquote:before {
  color: #b9c8d7;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.2em;
}
/* line 178, ../sass/fonts.scss */
blockquote:after {
  color: #b9c8d7;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.2em;
}
/* line 186, ../sass/fonts.scss */
blockquote p {
  display: inline;
}
/* line 189, ../sass/fonts.scss */
blockquote.citation {
  font-size: 1rem;
  padding: 0 15px;
}
/* line 192, ../sass/fonts.scss */
blockquote.citation p {
  display: block;
  quotes: '\00AB' '\00BB';
}
/* line 195, ../sass/fonts.scss */
blockquote.citation p:before {
  color: #b9c8d7;
  content: open-quote;
}
/* line 199, ../sass/fonts.scss */
blockquote.citation p:after {
  color: #b9c8d7;
  content: close-quote;
}
/* line 203, ../sass/fonts.scss */
blockquote.citation p.author {
  text-align: right;
  margin-bottom: 0;
  font-style: normal;
}
/* line 204, ../sass/fonts.scss */
blockquote.citation p.author:before, blockquote.citation p.author:after {
  display: none;
}
/* line 211, ../sass/fonts.scss */
blockquote.citation p.url {
  text-align: right;
  margin-bottom: 0;
  font-size: .85em;
}
/* line 215, ../sass/fonts.scss */
blockquote.citation p.url:before, blockquote.citation p.url:after {
  display: none;
}
/* line 218, ../sass/fonts.scss */
blockquote.citation p.url a {
  color: #8abe2b;
}
/* line 223, ../sass/fonts.scss */
blockquote.citation:before, blockquote.citation:after {
  display: none;
}

/* line 64, sprites/*.png */
.sprites-sprite, .no-svg .mainHeader__brand {
  background-image: url('../images/sprites-s4fd06c96ae.png');
  background-repeat: no-repeat;
}

/* line 12, ../sass/header.scss */
.mainHeader {
  text-align: center;
  padding: 15px;
  overflow: hidden;
  position: relative;
}
/* line 17, ../sass/header.scss */
.mainHeader span.tHide {
  opacity: 0;
}
/* line 20, ../sass/header.scss */
.mainHeader .container {
  position: relative;
}
/* line 23, ../sass/header.scss */
.mainHeader__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 30, ../sass/header.scss */
.mainHeader__brand {
  width: 134px;
  height: 200px;
  display: block;
  background-image: url('data:image/svg+xml;charset=utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IldhcnN0d2FfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMzRweCIgaGVpZ2h0PSIyMDBweCIgdmlld0JveD0iMCAwIDEzNCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEzNCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZEMDg2NCIgZD0iTTcuMDE4LDE2Mi4wMThjMCwwLTMuMzg5LTE0LjM1OC0xLjYzMy00Mi4zOGM0LjYyNSw2Ljc4MSw1LjkyLDcuMjIzLDUuOTIsNy4yMjNsLTMuMzE3LTI0LjQ1Mg0KCWMwLDAsNC43MzYtMjEuMjI0LDE5Ljg5NS0zOS45NTFjNC4xMzgsMTguMzc0LDYuNDQxLDIzLjIwNyw2LjQ0MSwyMy4yMDdzMS42MjUtMjUuOTQ3LDkuOC00MC4wMjENCgljMTIuOTE5LTcuOTI3LDExLjEyOS03LjQ3OCwyOC45OC0xNS40NTdjLTEuNjI3LDEzLjgwNC0xLjM1MiwyNy45NjctMS4zNTIsMjcuOTY3czYuNTcyLTE5LjgyNiwxNi41MjgtMzIuOTA4DQoJYzIyLjA5Mi00LjAyNiw0Mi43NzgtNC43NzMsNDIuNzc4LTQuNzczcy0xNC40NzEsMTkuMjUtMTguNDU3LDQ0LjQ4OGMtMTIuMzk5LTAuMzc1LTI2LjI3MiwzLjU2NC0zMi4xMTYsMTAuNTMyDQoJYzE2Ljc5OSwxMC4wNjksMjkuNjIyLDQuODc2LDI5LjYyMiw0Ljg3NnMtMC4xMTQsMTAuODc3LTIuMjA5LDI1Ljc3NWMtNC41MDEsMC4xOTktMzIuNTkzLDQuMDExLTU0LjM4MiwxMC4yNTkNCgljMjguMTYsMi43NjUsMzguNDI0LDcuMTM0LDQ1LjgyNCwxMy4xMjljLTEzLjEyLDIwLjA5OC0yMi43MzIsMjUuMTA2LTI1Ljk4NiwyOC40MjhjLTEwLjQxOS03LjAyMi0yMy4xMzctMTEuMjY4LTMwLjI2Ni0xMC43MTMNCgljMTQsMTAuNjU2LDE5LjA2NiwxNi4xNDQsMTkuMDY2LDE2LjE0NFMyOS42MjgsMTc4LjUwMiw3LjAxOCwxNjIuMDE4eiIvPg0KPHBhdGggZmlsbD0iIzIyMkYzQyIgZD0iTTEuODc2LDE5My45MDhjMCwwLDYuNzU1LTk4Ljg4Myw3OC40MDItMTMyLjA2M0MxMy41NjQsMTA3LjExNywxNC4zMTIsMTgwLjksMTQuMzEyLDE4MC45TDEuODc2LDE5My45MDh6Ig0KCS8+DQo8L3N2Zz4NCg==');
  background-repeat: no-repeat;
  margin: 0 auto -12px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
/* line 17, ../sass/mixins/_mixins.scss */
.no-svg .mainHeader__brand {
  background-position: 0 -110px;
}
/* line 37, ../sass/header.scss */
.mainHeader__title {
  background: white;
  font-family: "reenie_beanieregular", "Lora", serif;
  position: relative;
  z-index: auto;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 0 15px 15px 15px;
  display: inline-block;
  border-top: 0 solid #222f3c;
}
/* line 49, ../sass/header.scss */
.mainHeader__lang {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.mainHeader__lang:after {
  content: "";
  display: table;
  clear: both;
}
/* line 54, ../sass/header.scss */
.mainHeader__lang a {
  float: left;
  padding: 2px 10px;
  border-left: 1px solid #222f3c;
}
/* line 58, ../sass/header.scss */
.mainHeader__lang a:first-child {
  border-left: none;
}
