@font-face {
  font-family: 'reenie_beanieregular';
  src: url("fonts/ReenieBeanie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/fonts.scss */
.marginTop-1 {
  margin-top: 1em !important;
}

/* line 18, ../sass/fonts.scss */
.marginTop-2 {
  margin-top: 2em !important;
}

/* line 21, ../sass/fonts.scss */
.marginTop-3 {
  margin-top: 3em !important;
}

/* line 25, ../sass/fonts.scss */
.marginBottom-1 {
  margin-bottom: 1em !important;
}

/* line 28, ../sass/fonts.scss */
.marginBottom-2 {
  margin-bottom: 2em !important;
}

/* line 31, ../sass/fonts.scss */
.marginBottom-3 {
  margin-bottom: 3em !important;
}

/* line 35, ../sass/fonts.scss */
.text--center {
  text-align: center;
}

/* line 38, ../sass/fonts.scss */
.text--left {
  text-align: left !important;
}

/* line 41, ../sass/fonts.scss */
.text--right {
  text-align: right !important;
}

/* line 44, ../sass/fonts.scss */
.text--bold, strong {
  font-weight: 700;
}

/* line 47, ../sass/fonts.scss */
.text--red {
  color: #fd0864;
}

/* line 50, ../sass/fonts.scss */
.text--blue {
  color: #0dc3ca;
}

/* line 53, ../sass/fonts.scss */
.text--green {
  color: #8abe2b;
}

/* line 56, ../sass/fonts.scss */
.text--gray {
  color: gray;
}

/* line 59, ../sass/fonts.scss */
.text--coursive, em {
  font-style: italic;
}

/* line 62, ../sass/fonts.scss */
.text--small {
  font-size: .8rem;
  line-height: 1.5em;
}

/* line 67, ../sass/fonts.scss */
.title {
  line-height: 1.2em;
}

/* line 70, ../sass/fonts.scss */
.title--1, h1 {
  line-height: 1.2em;
  color: #0dc3ca;
  margin: 30px 0 20px;
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 70, ../sass/fonts.scss */
  .title--1, h1 {
    font-size: 3rem;
  }
}

/* line 81, ../sass/fonts.scss */
.title--2, h2 {
  font-size: 1.5rem;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  /* line 81, ../sass/fonts.scss */
  .title--2, h2 {
    font-size: 1.8rem;
  }
}

/* line 88, ../sass/fonts.scss */
.title--3, h3 {
  line-height: 1.2em;
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 88, ../sass/fonts.scss */
  .title--3, h3 {
    font-size: 1.2rem;
  }
}

/* line 96, ../sass/fonts.scss */
.title--red {
  color: #fd0864;
}

/* line 99, ../sass/fonts.scss */
.title--blue {
  color: #0dc3ca;
}

/* line 102, ../sass/fonts.scss */
.title--gray {
  color: gray;
}

/* line 105, ../sass/fonts.scss */
.title--green {
  color: #8abe2b;
}

/* line 110, ../sass/fonts.scss */
sup {
  font-size: .75em;
  vertical-align: super;
}

/* line 114, ../sass/fonts.scss */
sub {
  font-size: .75em;
  vertical-align: sub;
}

/* line 119, ../sass/fonts.scss */
a {
  text-decoration: none;
  color: #0dc3ca;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
/* line 123, ../sass/fonts.scss */
a.active {
  color: #fd0864;
}
/* line 126, ../sass/fonts.scss */
a:hover {
  color: #0a959a;
}
/* line 129, ../sass/fonts.scss */
a:active {
  color: white !important;
  background-color: #fd0864;
}

/* line 134, ../sass/fonts.scss */
strong {
  font-weight: 600;
}

/* line 139, ../sass/fonts.scss */
.mainContent p, .mainContentTitle p {
  margin-bottom: 15px;
}
/* line 143, ../sass/fonts.scss */
.mainContent ul, .mainContent ol, .mainContentTitle ul, .mainContentTitle ol {
  margin-bottom: 15px;
  padding-left: 20px;
}
/* line 150, ../sass/fonts.scss */
.mainContent ul, .mainContentTitle ul {
  list-style: disc;
}
/* line 153, ../sass/fonts.scss */
.mainContent ol, .mainContentTitle ol {
  list-style-type: decimal;
}

/* line 158, ../sass/fonts.scss */
blockquote {
  border-left: 2px solid #8abe2b;
  border-right: 2px solid #8abe2b;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  color: #47627d;
  line-height: 1.5em;
  font-style: italic;
  quotes: '\00AB' '\00BB';
}
@media (min-width: 768px) {
  /* line 158, ../sass/fonts.scss */
  blockquote {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  /* line 158, ../sass/fonts.scss */
  blockquote {
    margin: 1.5em 60px;
  }
}
/* line 175, ../sass/fonts.scss */
blockquote:before {
  color: #b9c8d7;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.2em;
}
/* line 183, ../sass/fonts.scss */
blockquote:after {
  color: #b9c8d7;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.2em;
}
/* line 191, ../sass/fonts.scss */
blockquote p {
  display: inline;
}
/* line 194, ../sass/fonts.scss */
blockquote.citation {
  font-size: 1rem;
  padding: 0 15px;
}
/* line 197, ../sass/fonts.scss */
blockquote.citation p {
  display: block;
  quotes: '\00AB' '\00BB';
}
/* line 200, ../sass/fonts.scss */
blockquote.citation p:before {
  color: #b9c8d7;
  content: open-quote;
}
/* line 204, ../sass/fonts.scss */
blockquote.citation p:after {
  color: #b9c8d7;
  content: close-quote;
}
/* line 208, ../sass/fonts.scss */
blockquote.citation p.quote__author {
  text-align: right;
  margin-bottom: 0;
  font-style: normal;
}
/* line 209, ../sass/fonts.scss */
blockquote.citation p.quote__author:before, blockquote.citation p.quote__author:after {
  display: none;
}
/* line 216, ../sass/fonts.scss */
blockquote.citation p.quote__url {
  text-align: right;
  margin-bottom: 0;
  font-size: .85em;
}
/* line 220, ../sass/fonts.scss */
blockquote.citation p.quote__url:before, blockquote.citation p.quote__url:after {
  display: none;
}
/* line 223, ../sass/fonts.scss */
blockquote.citation p.quote__url a {
  color: #8abe2b;
}
/* line 228, ../sass/fonts.scss */
blockquote.citation:before, blockquote.citation:after {
  display: none;
}
/* line 233, ../sass/fonts.scss */
blockquote.no-qm p {
  display: block;
}
/* line 236, ../sass/fonts.scss */
blockquote.no-qm:after, blockquote.no-qm:before {
  display: none;
}

/* line 64, sprites/*.png */
.sprites-sprite {
  background-image: url('../images/sprites-s4fd06c96ae.png');
  background-repeat: no-repeat;
}

/* line 11, ../sass/navigation.scss */
.mainNavigation {
  border-width: 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
}
/* line 16, ../sass/navigation.scss */
.mainNavigation .mainNavigation__list {
  text-align: center;
}
/* line 18, ../sass/navigation.scss */
.mainNavigation .mainNavigation__listItem {
  position: relative;
  display: inline-block;
}
/* line 22, ../sass/navigation.scss */
.mainNavigation .mainNavigation__listItem.active .mainNavigation__listItemLink {
  color: #fd0864;
}
/* line 27, ../sass/navigation.scss */
.mainNavigation .mainNavigation__listItem:hover .mainNavigation__subList {
  max-height: 300px;
  border-width: 0 1px 1px 1px;
}
/* line 32, ../sass/navigation.scss */
.mainNavigation .mainNavigation__listItemLink {
  display: block;
  padding: 4px 8px;
  font-family: "Lora", serif;
  font-size: 1rem;
  color: #0dc3ca;
}
@media (min-width: 768px) {
  /* line 32, ../sass/navigation.scss */
  .mainNavigation .mainNavigation__listItemLink {
    padding: 15px 30px;
    font-size: 1.2rem;
  }
}
/* line 45, ../sass/navigation.scss */
.mainNavigation .mainNavigation__subList {
  position: absolute;
  z-index: 2;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  top: 32px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: 140px;
  border-width: 0;
  border-style: solid;
  border-color: #e6e6e6;
  background: white;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  /* line 45, ../sass/navigation.scss */
  .mainNavigation .mainNavigation__subList {
    top: 54px;
  }
}
/* line 64, ../sass/navigation.scss */
.mainNavigation .mainNavigation__subListItem {
  display: block;
}
/* line 66, ../sass/navigation.scss */
.mainNavigation .mainNavigation__subListItemLink {
  display: block;
  padding: 8px 15px;
  color: #0fdae2;
  line-height: 1.2em;
  font-size: .85rem;
}
@media (min-width: 768px) {
  /* line 66, ../sass/navigation.scss */
  .mainNavigation .mainNavigation__subListItemLink {
    font-size: 1rem;
  }
}
/* line 75, ../sass/navigation.scss */
.mainNavigation .mainNavigation__subListItemLink:hover {
  color: #07666a;
}
