/* line 7, ../sass/fonts.scss */
.marginTop-1 {
  margin-top: 1em !important;
}

/* line 10, ../sass/fonts.scss */
.marginTop-2 {
  margin-top: 2em !important;
}

/* line 13, ../sass/fonts.scss */
.marginTop-3 {
  margin-top: 3em !important;
}

/* line 17, ../sass/fonts.scss */
.marginBottom-1 {
  margin-bottom: 1em !important;
}

/* line 20, ../sass/fonts.scss */
.marginBottom-2 {
  margin-bottom: 2em !important;
}

/* line 23, ../sass/fonts.scss */
.marginBottom-3 {
  margin-bottom: 3em !important;
}

/* line 27, ../sass/fonts.scss */
.text--center {
  text-align: center;
}

/* line 30, ../sass/fonts.scss */
.text--left {
  text-align: left !important;
}

/* line 33, ../sass/fonts.scss */
.text--right {
  text-align: right !important;
}

/* line 36, ../sass/fonts.scss */
.text--bold, strong {
  font-weight: 700;
}

/* line 39, ../sass/fonts.scss */
.text--red {
  color: #fd0864;
}

/* line 42, ../sass/fonts.scss */
.text--blue {
  color: #0dc3ca;
}

/* line 45, ../sass/fonts.scss */
.text--green {
  color: #8abe2b;
}

/* line 48, ../sass/fonts.scss */
.text--gray {
  color: gray;
}

/* line 51, ../sass/fonts.scss */
.text--coursive, em {
  font-style: italic;
}

/* line 54, ../sass/fonts.scss */
.text--small {
  font-size: .8rem;
  line-height: 1.5em;
}

/* line 59, ../sass/fonts.scss */
.title {
  line-height: 1.2em;
}

/* line 62, ../sass/fonts.scss */
.title--1, h1 {
  line-height: 1.2em;
  color: #0dc3ca;
  margin: 30px 0 20px;
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 62, ../sass/fonts.scss */
  .title--1, h1 {
    font-size: 3rem;
  }
}

/* line 73, ../sass/fonts.scss */
.title--2, h2 {
  font-size: 1.5rem;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  /* line 73, ../sass/fonts.scss */
  .title--2, h2 {
    font-size: 1.8rem;
  }
}

/* line 80, ../sass/fonts.scss */
.title--3, h3 {
  line-height: 1.2em;
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 80, ../sass/fonts.scss */
  .title--3, h3 {
    font-size: 1.2rem;
  }
}

/* line 88, ../sass/fonts.scss */
.title--red {
  color: #fd0864;
}

/* line 91, ../sass/fonts.scss */
.title--blue {
  color: #0dc3ca;
}

/* line 94, ../sass/fonts.scss */
.title--gray {
  color: gray;
}

/* line 97, ../sass/fonts.scss */
.title--green {
  color: #8abe2b;
}

/* line 102, ../sass/fonts.scss */
sup {
  font-size: .85em;
}

/* line 106, ../sass/fonts.scss */
a {
  text-decoration: none;
  color: #0dc3ca;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
/* line 110, ../sass/fonts.scss */
a.active {
  color: #fd0864;
}
/* line 113, ../sass/fonts.scss */
a:hover {
  color: #0a959a;
}

/* line 117, ../sass/fonts.scss */
strong {
  font-weight: 600;
}

/* line 122, ../sass/fonts.scss */
.mainContent p, .mainContentTitle p {
  margin-bottom: 15px;
}
/* line 126, ../sass/fonts.scss */
.mainContent ul, .mainContent ol, .mainContentTitle ul, .mainContentTitle ol {
  margin-bottom: 15px;
  padding-left: 20px;
}
/* line 133, ../sass/fonts.scss */
.mainContent ul, .mainContentTitle ul {
  list-style: disc;
}
/* line 136, ../sass/fonts.scss */
.mainContent ol, .mainContentTitle ol {
  list-style-type: decimal;
}

/* line 56, sprites/*.png */
.sprites-sprite {
  background-image: url('../images/sprites-sda7de5a88e.png');
  background-repeat: no-repeat;
}

/* line 11, ../sass/navigation.scss */
.mainNavigation {
  border-width: 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
}
/* line 16, ../sass/navigation.scss */
.mainNavigation .mainNavigation__list {
  text-align: center;
}
/* line 18, ../sass/navigation.scss */
.mainNavigation .mainNavigation__listItem {
  position: relative;
  display: inline-block;
}
/* line 22, ../sass/navigation.scss */
.mainNavigation .mainNavigation__listItem.active .mainNavigation__listItemLink {
  color: #fd0864;
}
/* line 27, ../sass/navigation.scss */
.mainNavigation .mainNavigation__listItem:hover .mainNavigation__subList {
  max-height: 300px;
  border-width: 0 1px 1px 1px;
}
/* line 32, ../sass/navigation.scss */
.mainNavigation .mainNavigation__listItemLink {
  display: block;
  padding: 15px 30px;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  color: #0dc3ca;
}
/* line 41, ../sass/navigation.scss */
.mainNavigation .mainNavigation__subList {
  position: absolute;
  z-index: 2;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  top: 54px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: 140px;
  border-width: 0;
  border-style: solid;
  border-color: #e6e6e6;
  background: white;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
}
/* line 57, ../sass/navigation.scss */
.mainNavigation .mainNavigation__subListItem {
  display: block;
}
/* line 59, ../sass/navigation.scss */
.mainNavigation .mainNavigation__subListItemLink {
  display: block;
  padding: 8px 15px;
  color: #0fdae2;
  line-height: 1.2em;
}
/* line 64, ../sass/navigation.scss */
.mainNavigation .mainNavigation__subListItemLink:hover {
  color: #07666a;
}
