/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 56, sprites/*.png */
.sprites-sprite {
  background-image: url('../images/sprites-sda7de5a88e.png');
  background-repeat: no-repeat;
}

/* line 12, ../sass/navigation.scss */
.mainNavigation {
  border-width: 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
}
/* line 16, ../sass/navigation.scss */
.mainNavigation__list {
  text-align: center;
}
/* line 18, ../sass/navigation.scss */
.mainNavigation__listItem {
  position: relative;
  display: inline-block;
}
/* line 22, ../sass/navigation.scss */
.mainNavigation__listItem.active .mainNavigation__listItemLink {
  color: #fd0864;
}
/* line 27, ../sass/navigation.scss */
.mainNavigation__listItem:hover .mainNavigation__subList {
  max-height: 300px;
  border-width: 0 1px 1px 1px;
}
/* line 32, ../sass/navigation.scss */
.mainNavigation__listItemLink {
  display: block;
  padding: 15px 30px;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  color: #0dc3ca;
}
/* line 41, ../sass/navigation.scss */
.mainNavigation__subList {
  position: absolute;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  top: 54px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: 140px;
  border-width: 0;
  border-style: solid;
  border-color: #e6e6e6;
  background: white;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
}
/* line 56, ../sass/navigation.scss */
.mainNavigation__subListItem {
  display: block;
}
/* line 58, ../sass/navigation.scss */
.mainNavigation__subListItemLink {
  display: block;
  padding: 8px 15px;
  color: #0fdae2;
  line-height: 1.2em;
}
/* line 63, ../sass/navigation.scss */
.mainNavigation__subListItemLink:hover {
  color: #07666a;
}
