<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteRule ^_bo/ - [L,NC]
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>