@import "compass";
@import "mixins/breakpoint";
@import "mixins/mixins";
@import "colors";
@import "fonts";

@import "sprites/*.png"; // Create sprites with src/images/sprites/*.png
$sprites: sprite-map("sprites/*.png");
$disable-magic-sprite-selectors: true;


#mainContent,#mainContentLoader,#mainContentTitle {
  opacity:1;
  transition: all .5s ease;
  z-index: 1;
  position: relative;
  &.isHidden {
    opacity:0;
    transition: all 1s ease;
    z-index: 0;
  }
}
#mainContentTitle {
  box-sizing: border-box;
}
#mainContentLoader {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
