@import "compass";
@import "mixins/breakpoint";
@import "mixins/mixins";
@import "mixins/clearfix";
@import "colors";
@import "fonts";

@import "sprites/*.png"; // Create sprites with src/images/sprites/*.png
$sprites: sprite-map("sprites/*.png");
$disable-magic-sprite-selectors: true;

.mainContent {
  padding-top: 15px;
  h1 {
    font-size: 3rem;
    font-family: $font-secondary;
    line-height: 1.5em;
  }
  h2 {
    font-size: 2rem;
    font-family: $font-secondary;
    line-height: 1.5em;
  }
  h3 {
    font-size: 1.5rem;
    font-family: $font-primary;
    width: 600px;
    line-height: 1.5em;
  }
  p {
    margin-bottom: 15px;
  }
  strong {
    font-weight: 600;
  }
  ul,ol {
    margin-bottom: 15px;
    padding-left: 20px;
    li {

    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style-type: decimal;
  }
}