@import "colors";
@import "mixins/breakpoint";

$font-primary: 'Muli', sans-serif;
$font-secondary: 'Lora', serif;

.marginTop-1 {
  margin-top: 1em!important;
}
.marginTop-2 {
  margin-top: 2em!important;;
}
.marginTop-3 {
  margin-top: 3em!important;;
}

.marginBottom-1 {
  margin-bottom: 1em!important;;
}
.marginBottom-2 {
  margin-bottom: 2em!important;;
}
.marginBottom-3 {
  margin-bottom: 3em!important;;
}

.text--center {
  text-align: center;
}
.text--left {
  text-align: left!important;
}
.text--right {
  text-align: right!important;
}
.text--bold, strong {
  font-weight: 700;
}
.text--red {
  color: $cl-red;
}
.text--blue {
  color: $cl-blue;
}
.text--green {
  color: $cl-green;
}
.text--gray {
  color: $cl-gray;
}
.text--coursive, em {
  font-style: italic;
}
.text--small {
  font-size: .8rem;
  line-height: 1.5em;
}

.title {
  line-height: 1.2em;
  &--1 {
    color: $cl-blue;
    margin:30px 0 20px;
    font-family: $font-secondary;
    font-size: 2rem;
    text-align: center;
    @include breakpoint($tablet) {
      font-size: 3rem;
    }
  }
  &--2 {
    font-size: 1.5rem;
    line-height: 1.5em;
    @include breakpoint($tablet) {
      font-size: 1.8rem;
    }
  }
  &--3 {
    font-size: 1rem;
    font-weight: 700;
    @include breakpoint($tablet) {
      font-size: 1.2rem;
    }
  }
  &--red {
    color: $cl-red;
  }
  &--blue {
    color: $cl-blue;
  }
  &--gray {
    color: $cl-gray;
  }
  &--green {
    color: $cl-green;
  }
}

sup {
  font-size: .85em;
}

a {
  text-decoration: none;
  color: $cl-blue;
  transition: all .5s ease;
  &.active {
    color: $cl-red;
  }
  &:hover {
    color: darken($cl-blue,10);
  }
}
strong {
  font-weight: 600;
}

.mainContent,.mainContentTitle{
  p {
    margin-bottom: 15px;
  }

  ul,ol {
    margin-bottom: 15px;
    padding-left: 20px;
    li {

    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style-type: decimal;
  }
}