@import "compass";
@import "compass/reset";
@import "mixins/breakpoint";
@import "mixins/mixins";
@import "mixins/clearfix";
@import "colors";
@import "fonts";

//@import "sprites/*.png"; // Create sprites with src/images/sprites/*.png
//$sprites: sprite-map("sprites/*.png");
//$disable-magic-sprite-selectors: true;

// @import "icons/*.png"; 			// Sprites - img in src/images
// @include icons-sprite(home);
// @include squish-text; 			// Hide text
// @include inline-block; 			// Inline block
// @include breakpoint ($tablet) 	// Breakpoints
// @include containerRwd;			// Element has width definied in mixins/breakpoint/_devices.scss
// @include clearfix;				// Set clear to both;
// @include clearfix2;				// Add :after selector width clear:both;

body {
  background-color: $cl-gray;
}
li.active>a{
  color: #ff1493;
}