@import "compass";
@import "mixins/breakpoint";
@import "mixins/mixins";
@import "mixins/clearfix";
@import "colors";
@import "fonts";

//@import "sprites/*.png"; // Create sprites with src/images/sprites/*.png
//$sprites: sprite-map("sprites/*.png");
//$disable-magic-sprite-selectors: true;

// @import "icons/*.png"; 			// Sprites - img in src/images
// @include icons-sprite(home);
// @include squish-text; 			// Hide text
// @include inline-block; 			// Inline block
// @include breakpoint ($tablet) 	// Breakpoints
// @include containerRwd;			// Element has width definied in mixins/breakpoint/_devices.scss
// @include clearfix;				// Set clear to both;
// @include clearfix2;				// Add :after selector width clear:both;

.btn {
  border: 1px solid $cl-gray;
  color: $cl-blue-light;
  font-family: $font-primary;
  line-height:1.5rem;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 2px;
  padding: 1px 15px;
  font-size: .85rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin:4px 0 8px;
  cursor: pointer;
  background-color: $cl-white;
  &:hover {
    background-color: $cl-gray;
  }
  &--green {
    border-color: lighten($cl-green,10);
    background-color: $cl-green;
    color: $cl-white;
    &:hover {
      background-color: darken($cl-green,10);
    }
  }
  &--red {
    border-color: lighten($cl-red,10);
    background-color: $cl-red;
    color: $cl-white;
    &:hover {
      background-color: darken($cl-red,10);
    }
  }
  &--azure {
    border-color: lighten($cl-azure,10);
    background-color: $cl-azure;
    color: $cl-white;
    &:hover {
      background-color: darken($cl-azure,10);
    }
  }
  &--small {
    font-size: .75rem;
    padding: 2px 5px;
    line-height: 1.2em;
  }
  &--right {
    float:right;
    margin-bottom:0;
  }
}
