$cl-white: rgb(255, 255, 255);
$cl-black: rgb(0, 0, 0);
$cl-gray: rgb(225, 232, 239);
$cl-gray-dark: darken($cl-gray,20);
$cl-red: rgb(210, 74, 68);
$cl-green: rgb(26, 102, 80);
$cl-blue: rgb(34, 47, 60);
$cl-blue-light: lighten($cl-blue,20);
$cl-blue-dark: darken($cl-blue,10);


