@import "compass";
@import "mixins/breakpoint";
@import "mixins/mixins";
@import "mixins/clearfix";
@import "colors";
@import "fonts";

//@import "sprites/*.png"; // Create sprites with src/images/sprites/*.png
//$sprites: sprite-map("sprites/*.png");
//$disable-magic-sprite-selectors: true;

// @import "icons/*.png"; 			// Sprites - img in src/images
// @include icons-sprite(home);
// @include squish-text; 			// Hide text
// @include inline-block; 			// Inline block
// @include breakpoint ($tablet) 	// Breakpoints
// @include containerRwd;			// Element has width definied in mixins/breakpoint/_devices.scss
// @include clearfix;				// Set clear to both;
// @include clearfix2;				// Add :after selector width clear:both;

label {
  color: $cl-gray-dark;
  font-size: .75rem;
  line-height:1.5rem;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="color"],
select {
  border: 1px solid $cl-gray;
  color: $cl-blue-light;
  line-height:1.5rem;
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 1rem;
  margin:4px 0 8px;
  &.code {
    font-family:"Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  }
}
input[type="color"] {
  min-height: 30px;
  width: 70px;
  padding: 5px;
  background: transparent;
}
table input[type="text"],
table input[type="password"],
table input[type="number"],
table select {
  font-size: 0.9rem;
}
textarea {
  border: 1px solid $cl-gray;
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 1rem;
  margin:4px 0 8px;
  height: 100px;
  &.pageContent{
    height: 500px;
  }
}
