@import "compass";
@import "mixins/breakpoint";
@import "mixins/mixins";
@import "mixins/clearfix";
@import "colors";
@import "fonts";

//@import "sprites/*.png"; // Create sprites with src/images/sprites/*.png
//$sprites: sprite-map("sprites/*.png");
//$disable-magic-sprite-selectors: true;

// @import "icons/*.png"; 			// Sprites - img in src/images
// @include icons-sprite(home);
// @include squish-text; 			// Hide text
// @include inline-block; 			// Inline block
// @include breakpoint ($tablet) 	// Breakpoints
// @include containerRwd;			// Element has width definied in mixins/breakpoint/_devices.scss
// @include clearfix;				// Set clear to both;
// @include clearfix2;				// Add :after selector width clear:both;

.login {
  background-color: $cl-white;
  position: fixed;
  text-align: center;
  width: 320px;
  box-sizing: border-box;
  max-width: 95%;
  z-index: 10;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  &__title {
    font-family: $font-secondary;
    font-size: 3rem;
    line-height: 1.5em;
  }
  &__subTitle {
    font-family: $font-primary;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: .1rem;
    line-height: 1.5em;
  }
  input {
    text-align: center;
  }
}
