@import "compass";
@import "compass/reset";
@import "mixins/breakpoint";
@import "mixins/mixins";
@import "mixins/clearfix";
@import "colors";
@import "fonts";

//@import "sprites/*.png"; // Create sprites with src/images/sprites/*.png
//$sprites: sprite-map("sprites/*.png");
//$disable-magic-sprite-selectors: true;

// @import "icons/*.png"; 			// Sprites - img in src/images
// @include icons-sprite(home);
// @include squish-text; 			// Hide text
// @include inline-block; 			// Inline block
// @include breakpoint ($tablet) 	// Breakpoints
// @include containerRwd;			// Element has width definied in mixins/breakpoint/_devices.scss
// @include clearfix;				// Set clear to both;
// @include clearfix2;				// Add :after selector width clear:both;

body {
  background-color: $cl-white;
  font-family: $font-primary;
  line-height: 1.5em;
  @include clearfix2;
}
a {
  text-decoration: none;
  color: $cl-blue-light;
}
.aside {
  position: fixed;
  z-index: 5;
  width: 240px;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border-right: 1px solid $cl-blue-light;
  background-color: $cl-blue;
  &__brand {
    padding: 15px;
    background-color: $cl-blue-dark;
    height: 80px;
    box-sizing: border-box;
    &Title {
      font-family: $font-secondary;
      font-size: 1.5rem;
      line-height: 1.5em;
      a {
        color: $cl-white;
      }
    }
    &SubTitle {
      font-family: $font-primary;
      font-size: .6em;
      text-transform: uppercase;
      letter-spacing: .1rem;
      line-height: 1.5em;
      color: $cl-blue-light;
    }
  }
  &__nav {
    a {
      font-family: $font-primary;
      color: $cl-blue-light;
      padding: 15px;
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      transition: all .25s ease;
      &.active {
        color: $cl-white;
        background-color: darken($cl-blue,3);
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 4px;
          background-color: $cl-green;
        }
        &:hover {
          background-color: darken($cl-blue,6);
        }
      }
      &:hover {
        background-color: lighten($cl-blue,5);
      }
    }
  }
}
.header, .content {
  width: 100%;
  box-sizing: border-box;
}
.header {
  position: fixed;
  padding-left: 240px;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: $cl-gray;
  border-bottom: 1px solid $cl-gray-dark;
  @include clearfix2;
  &__user {
    float: right;
    padding:22px 15px;
    &Role {
      text-transform: uppercase;
      font-size: .85rem;
      color: $cl-blue-light;
      margin-right:20px;
    }
  }
}
.content {
  padding: 95px 15px 15px 255px;
  h1 {
    font-family: $font-secondary;
    font-size: 1.5rem;
    line-height: 1.5em;
    border-bottom: 1px solid $cl-gray;
    margin-bottom: 25px;
    color: $cl-blue-light;
  }
}

