/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../sass/fonts.scss */
.text--right {
  text-align: right;
}

/* line 10, ../sass/fonts.scss */
.text--small {
  font-size: .75em;
}

/* line 21, ../sass/btns.scss */
.btn {
  border: 1px solid #e1e8ef;
  color: #47627d;
  font-family: "Muli", sans-serif;
  line-height: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border-radius: 2px;
  padding: 1px 15px;
  font-size: .85rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 4px 0 8px;
  cursor: pointer;
  background-color: white;
}
/* line 36, ../sass/btns.scss */
.btn:hover {
  background-color: #e1e8ef;
}
/* line 39, ../sass/btns.scss */
.btn--green {
  border-color: #0cbb6c;
  background-color: #098b50;
  color: white;
}
/* line 43, ../sass/btns.scss */
.btn--green:hover {
  background-color: #065b34;
}
/* line 47, ../sass/btns.scss */
.btn--red {
  border-color: #dc726d;
  background-color: #d24a44;
  color: white;
}
/* line 51, ../sass/btns.scss */
.btn--red:hover {
  background-color: #b7322c;
}
/* line 55, ../sass/btns.scss */
.btn--azure {
  border-color: #0197ff;
  background-color: #0079cd;
  color: white;
}
/* line 59, ../sass/btns.scss */
.btn--azure:hover {
  background-color: #005b9a;
}
/* line 63, ../sass/btns.scss */
.btn--small {
  font-size: .65rem;
  font-weight: 600;
  padding: 2px 5px;
  line-height: 1.2em;
}
/* line 69, ../sass/btns.scss */
.btn--right {
  float: right;
  margin-bottom: 0;
}
