/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/forms.scss */
label {
  color: #9eb5cc;
  font-size: .75rem;
  line-height: 1.5rem;
}

/* line 26, ../sass/forms.scss */
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="time"],
input[type="password"],
input[type="number"],
input[type="color"],
select {
  border: 1px solid #e1e8ef;
  color: #47627d;
  line-height: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 1rem;
  margin: 4px 0 8px;
}
/* line 43, ../sass/forms.scss */
input[type="text"].code,
input[type="date"].code,
input[type="datetime"].code,
input[type="time"].code,
input[type="password"].code,
input[type="number"].code,
input[type="color"].code,
select.code {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
/* line 47, ../sass/forms.scss */
input[type="text"].input--narrow,
input[type="date"].input--narrow,
input[type="datetime"].input--narrow,
input[type="time"].input--narrow,
input[type="password"].input--narrow,
input[type="number"].input--narrow,
input[type="color"].input--narrow,
select.input--narrow {
  width: auto;
}

/* line 52, ../sass/forms.scss */
input[type="color"] {
  min-height: 30px;
  width: 70px;
  padding: 5px;
  background: transparent;
}

/* line 58, ../sass/forms.scss */
input[disabled] {
  background: #e1e8ef;
}

/* line 61, ../sass/forms.scss */
table input[type="text"],
table input[type="password"],
table input[type="date"],
table input[type="datetime"],
table input[type="time"],
table input[type="number"],
table select {
  font-size: 0.9rem;
}

/* line 70, ../sass/forms.scss */
textarea {
  border: 1px solid #e1e8ef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 1rem;
  margin: 4px 0 8px;
  height: 100px;
}
/* line 79, ../sass/forms.scss */
textarea.pageContent {
  height: 500px;
}
