/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/login.scss */
.login {
  background-color: white;
  position: fixed;
  text-align: center;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 95%;
  z-index: 10;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 32, ../sass/login.scss */
.login__title {
  font-family: "Lora", serif;
  font-size: 3rem;
  line-height: 1.5em;
}
/* line 37, ../sass/login.scss */
.login__subTitle {
  font-family: "Muli", sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.5em;
}
/* line 44, ../sass/login.scss */
.login input {
  text-align: center;
}
