/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/main.scss */
body {
  background-color: white;
  font-family: "Muli", sans-serif;
  line-height: 1.5em;
}
/* line 6, ../sass/mixins/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 28, ../sass/main.scss */
body.no-fa i, body.no-fa .aside__navIco {
  display: none;
}

/* line 33, ../sass/main.scss */
a {
  text-decoration: none;
  color: #47627d;
}

/* line 37, ../sass/main.scss */
hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #e1e8ef;
  height: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 45, ../sass/main.scss */
.aside {
  position: fixed;
  z-index: 5;
  width: 48px;
  -webkit-transition: width .5s ease;
          transition: width .5s ease;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #47627d;
  background-color: #222f3c;
}
/* line 50, ../sass/main.scss */
.aside:hover {
  width: 240px;
}
/* line 52, ../sass/main.scss */
.aside:hover .aside__brandTitle {
  opacity: 1;
}
/* line 55, ../sass/main.scss */
.aside:hover .aside__brandSubTitle {
  opacity: 1;
}
@media (min-width: 1200px) {
  /* line 45, ../sass/main.scss */
  .aside {
    width: 240px;
  }
}
/* line 69, ../sass/main.scss */
.aside__brand {
  padding: 15px;
  background-color: #10161b;
  height: 80px;
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 75, ../sass/main.scss */
.aside__brandTitle {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
          transition: opacity .5s ease;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 1.5em;
}
@media (min-width: 1200px) {
  /* line 75, ../sass/main.scss */
  .aside__brandTitle {
    opacity: 1;
  }
}
/* line 84, ../sass/main.scss */
.aside__brandTitle a {
  color: white;
}
/* line 88, ../sass/main.scss */
.aside__brandSubTitle {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
          transition: opacity .5s ease;
  font-family: "Muli", sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.5em;
  color: #47627d;
}
@media (min-width: 1200px) {
  /* line 88, ../sass/main.scss */
  .aside__brandSubTitle {
    opacity: 1;
  }
}
/* line 103, ../sass/main.scss */
.aside__navIco {
  width: 22px;
  margin-right: 6px;
  display: inline-block;
  text-align: center;
}
/* line 111, ../sass/main.scss */
.aside__nav li:hover .aside__navSubMenu {
  max-height: 200px;
}
/* line 116, ../sass/main.scss */
.aside__navItem {
  font-family: "Muli", sans-serif;
  color: #47627d;
  padding: 15px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  position: relative;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}
/* line 125, ../sass/main.scss */
.aside__navItem.active {
  color: white;
  background-color: #1c2732;
}
/* line 128, ../sass/main.scss */
.aside__navItem.active:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: #098b50;
}
/* line 137, ../sass/main.scss */
.aside__navItem.active:hover {
  background-color: #172028;
}
/* line 141, ../sass/main.scss */
.aside__navItem:hover {
  background-color: #2b3c4c;
}
/* line 145, ../sass/main.scss */
.aside__navSubMenu {
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  overflow: hidden;
  max-height: 0;
}
/* line 150, ../sass/main.scss */
.aside__navSubItem {
  padding: 5px 15px 5px 40px;
  font-size: .85em;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: relative;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}
/* line 158, ../sass/main.scss */
.aside__navSubItem:hover {
  background-color: #2b3c4c;
}

/* line 164, ../sass/main.scss */
.header, .content {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 168, ../sass/main.scss */
.header {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  padding-left: 60px;
  -webkit-transition: padding-left .5s ease;
          transition: padding-left .5s ease;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(225, 232, 239, 0.95);
  border-bottom: 1px solid #9eb5cc;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 181, ../sass/main.scss */
.header__user {
  float: right;
  padding: 20px 15px;
}
/* line 184, ../sass/main.scss */
.header__userRole {
  display: none;
  text-transform: uppercase;
  font-size: .85rem;
  color: #47627d;
  margin-right: 20px;
}
@media (min-width: 768px) {
  /* line 184, ../sass/main.scss */
  .header__userRole {
    display: inline;
  }
}
/* line 195, ../sass/main.scss */
.header__front {
  float: right;
  padding: 20px 15px;
  border-right: 1px solid #9eb5cc;
}
/* line 196, ../sass/main.scss */
.header__frontTxt {
  display: none;
}
@media (min-width: 768px) {
  /* line 196, ../sass/main.scss */
  .header__frontTxt {
    display: inline;
  }
}

/* line 207, ../sass/main.scss */
.content {
  padding: 95px 15px 15px 60px;
  -webkit-transition: padding-left .5s ease;
          transition: padding-left .5s ease;
}
@media (min-width: 1200px) {
  /* line 207, ../sass/main.scss */
  .content {
    padding-left: 255px;
  }
}
/* line 213, ../sass/main.scss */
.content h1 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 1.5em;
  border-bottom: 1px solid #e1e8ef;
  margin-bottom: 25px;
  color: #47627d;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.content h1:after {
  content: "";
  display: table;
  clear: both;
}
/* line 222, ../sass/main.scss */
.content h2 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5em;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #47627d;
}
/* line 231, ../sass/main.scss */
.content__routing {
  min-width: 840px;
}
/* line 234, ../sass/main.scss */
.content__page {
  min-width: 480px;
}
/* line 237, ../sass/main.scss */
.content__menu {
  min-width: 480px;
}
