/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/pages.scss */
.page__block {
  min-height: 45px;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.page__block:after {
  content: "";
  display: table;
  clear: both;
}
/* line 25, ../sass/pages.scss */
.page__blockLabel {
  float: left;
  width: 15%;
  margin-top: 8px;
}
/* line 30, ../sass/pages.scss */
.page__blockInput {
  float: left;
  width: 85%;
}
