/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../sass/fonts.scss */
.text--right {
  text-align: right;
}

/* line 10, ../sass/fonts.scss */
.text--small {
  font-size: .75em;
}

/* line 22, ../sass/pages.scss */
.page__block {
  min-height: 45px;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.page__block:after {
  content: "";
  display: table;
  clear: both;
}
/* line 25, ../sass/pages.scss */
.page__blockLabel {
  margin-top: 8px;
}
@media (min-width: 768px) {
  /* line 25, ../sass/pages.scss */
  .page__blockLabel {
    width: 15%;
    float: left;
  }
}
@media (min-width: 768px) {
  /* line 32, ../sass/pages.scss */
  .page__blockInput {
    float: left;
    width: 85%;
  }
}
