<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Crayon - Back Office</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#561A09">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/_bo/css/5ec.min.css">
</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<h1>Back Office</h1>
<a href="logout.php">Wyloguj</a>
<hr>
<a href="index.php">Home</a>
<a href="routing.php">Routing</a>
<a href="menus.php">Menus</a>
<a href="pages.php">Pages</a>
{% if userRole == 'admin' %}
<a href="users.php">Users</a>
{% endif %}
<hr>
{% block content %}
{% endblock %}
<div class="msgWindow"><span class="msgWindowClose"></span><div class="msgWindowTitle"></div><div class="msgWindowContent"></div></div>
<script src="/_bo/js/5ec.js"></script>
{% block scripts %}
{% endblock %}

</body>
</html>