{% extends "base.html.twig" %}
{% block content %}
    <h1>Blog configuration</h1>
    <div class="page">
        <form action="" method="post" id="settingsForm">
            <h2>List of articles</h2>
            <div class="page__block">
                <label class="page__blockLabel" for="articles_per_page">Articles per page</label>
                <div class="page__blockInput">
                    <input type="number" id="articles_per_page" value="{{ config['articles_per_page'] }}" name="articles_per_page">
                </div>
            </div>
            <h2>Author</h2>
            <div class="page__block">
                <label class="page__blockLabel" for="author_name">Name</label>
                <div class="page__blockInput">
                    <input type="text" id="author_name" value="{{ config['author_name'] }}" name="author_name">
                </div>
            </div>

            <div class="page__block">
                <label class="page__blockLabel" for="author_desc">Description</label>
                <div class="page__blockInput">
                    <textarea id="author_desc" name="author_desc">{{ config['author_desc'] }}</textarea>
                </div>
            </div>

            <div class="page__block">
                <label class="page__blockLabel" for="author_photo">Photo</label>
                <div class="page__blockInput">
                    <input type="text" id="author_photo" value="{{ config['author_photo'] }}" name="author_photo">
                </div>
            </div>

            <div class="page__block">
                <label class="page__blockLabel"></label>
                <div class="page__blockInput">
                    <a href="" class="btn btn--green" data-action="save-settings"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var changeData = function(e){
            if(e.target.dataset.action == 'save-settings' || e.target.parentNode.dataset.action == 'save-settings'){
                e.preventDefault();
                var data = serializeFormData(document.getElementById('settingsForm'));
                atomic.post('blog.config.save.php',data)
                    .success(function(data){
                        if(data.status == 'success')
                            showMessage('success','Done','Data has been saved');
                        if(data.status == 'error')
                            showMessage('error','Error','Data not saved');
                    })
                    .error(function(data){
                        showMessage('error','Error','Server error');
                    })
            }
        };
        document.body.addEventListener("click",changeData,false);
    </script>
{% endblock %}