{% extends "base.html.twig" %}
{% block content %}
    <h1>Menus</h1>

    <table>
        <thead>
        <tr>
            <th>Menu</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for key,menu in menus %}
            <tr>
                <td><a href="menu.edit.php?menu={{ key }}">{{ key }}</a></td>
                <td><a href="" data-action="delete" data-item="{{ key }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><a href="menu.edit.php">Add</a></td>
            </tr>
        </tfoot>
    </table>





{% endblock %}

{% block scripts %}
    <script>
        document.body.addEventListener("click",function(e){
            if(e.target.dataset.action == 'delete'){
                atomic.post('menu.delete.php','menu='+e.target.dataset.item)
                    .success(function(data){
                        if(data.status == 'success')
                            showMessage('success','Done','Data has been saved');
                        if(data.status == 'error')
                            showMessage('error','Error','Data not saved');
                    })
                    .error(function(data){
                        showMessage('error','Error','Server error');
                    });
            }
        },false);
    </script>
{% endblock %}