{% extends "base.html.twig" %}
{% block content %}
    <h1>Menus</h1>

    <table>
        <thead>
        <tr>
            <th>Page</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for key,page in pages %}
            <tr>
                <td><a href="page.edit.php?page={{ key }}">{{ key }}</a></td>
                <td>{{ page.title }}</td>
                <td><a href="" data-action="delete" data-item="{{ key }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfood>
            <tr>
                <td colspan="2"></td>
                <td><a href="page.edit.php">Add</a></td>
            </tr>
        </tfood>
    </table>





{% endblock %}

{% block scripts %}
    <script>
        document.body.addEventListener("click",function(e){
            if(e.target.dataset.action == 'delete'){
                atomic.post('page.delete.php','page='+e.target.dataset.item)
                    .success(function(data){
                        if(data.status == 'success')
                            showMessage('success','Done','Data has been saved');
                        if(data.status == 'error')
                            showMessage('error','Error','Data not saved');
                    })
                    .error(function(data){
                        showMessage('error','Error','Server error');
                    });
            }
        },false);
    </script>
{% endblock %}