{% extends template %}{% block content %}                        <h2>About us 23s</h2>
<p>Consectetur adipisicing elit. Asperiores commodi eum fugiat hic perferendis praesentium quam quo repellat soluta vitae.</p>
                    {% endblock %}{# end content #}{% block scripts %}                                            {% endblock %}{# end scripts #}