{% extends template %}{% block content %}<h1>About us</h1>
<p>Consectetur adipisicing elit. Asperiores commodi eum fugiat hic perferendis praesentium quam quo repellat soluta vitae.</p>{% endblock %}{# end content #}{% block scripts %}                                            {% endblock %}{# end scripts #}