{% extends template %}{% block content %}<h1>O nas</h1>
    <p>At dicta esse et excepturi hic impedit, laborum magni nihil perferendis, praesentium quia tempore velit
        voluptate. Adipisci alias aut doloremque et fugit molestiae nihil perferendis provident quaerat,
        quis.</p>
{% endblock %}{# end content #}
{% block scripts %}
{% endblock %}{# end scripts #}