{% extends template %}{% block content %}<h2>About us</h2>
<p>Consectetur adipisicing elit. Asperiores commodi eum fugiat hic perferendis praesentium quam quo repellat soluta vitae.</p>{% endblock %}{# end content #}{% block scripts %}var title = document.getElementsByTagName('h2')[0];
title.innerHTML="About US!";{% endblock %}{# end scripts #}