{% extends template %}
{% block content %}

    <h1>Kontakt</h1>
    <p>Accusantium adipisci alias architecto eos error,
        expedita facilis iure magni molestiae obcaecati, odit officiis quidem quis quisquam rem repellat rerum sed
        tempora tempore vitae. Ea eaque inventore labore magnam nam, placeat praesentium!</p>
{% endblock %}{# end content #}
{% block scripts %}
{% endblock %}{# end scripts #}