{% extends template %}
{% block content %}

    <h1>Contact</h1>
    <p>At blanditiis corporis cumque debitis dicta dolor,
        doloribus eaque eius expedita impedit, labore laboriosam, molestias necessitatibus nemo quas quasi suscipit
        voluptates. Beatae commodi ipsa necessitatibus nihil perspiciatis quibusdam quo sint sunt, vitae?</p>

{% endblock %}{# end content #}
{% block scripts %}
{% endblock %}{# end scripts #}