{% extends template %}{% block content %}                        

    <h1>Strona główna</h1>
    <p>Accusantium amet atque, corporis cumque nam natus odio
        vel? Accusamus animi consequatur eveniet harum ipsum iusto molestias nemo optio perspiciatis quaerat sed totam,
        veniam, voluptate? Nemo, pariatur quidem! Cupiditate facere porro rerum?</p>


                    {% endblock %}{# end content #}{% block scripts %}                                            {% endblock %}{# end scripts #}