{% extends template %}
{% block content %}

    <h1>Home</h1>
    <p>Aliquid culpa et in iusto molestiae porro quisquam quod
        reprehenderit, voluptates. Autem debitis facere neque odio sequi? Culpa delectus distinctio, dolore dolorem
        ducimus ea et illum in iure, porro quam soluta, voluptate.</p>

{% endblock %}