{% extends template %}{% block content %}                        

    <h1>Oferta</h1>
    <p>Cupiditate eaque harum natus nulla! Illo ipsam ipsum
        laborum magni modi non praesentium quos repellat temporibus. Ab ad culpa impedit labore perferendis. Aperiam
        beatae id minus mollitia praesentium quisquam rem tempore veniam.</p>


                    {% endblock %}{# end content #}{% block scripts %}                                            {% endblock %}{# end scripts #}