{% extends template %}
{% block content %}

    <h1>Oferta 2</h1>
    <p>Accusamus accusantium assumenda atque cumque delectus
        dicta dolore dolorum eius eos est et, excepturi expedita iure labore maiores natus nemo possimus quae quas
        quisquam reiciendis reprehenderit rerum tempore totam voluptatem, voluptates voluptatum!</p>

{% endblock %}