{% extends template %}
{% block content %}

    <h1>Offer 2</h1>
    <p>Accusamus ad aliquid aperiam aspernatur atque delectus
        deleniti dolores iusto, laborum maiores molestiae nemo odio perferendis, repudiandae, sunt unde voluptates!
        Accusantium blanditiis, odit. Asperiores assumenda debitis laborum nostrum officia optio quas voluptatibus!</p>

{% endblock %}