{% extends template %}
{% block content %}

    <h1>Offer 1</h1>
    <p>Consectetur cum esse non ratione. Consequatur cumque
        eveniet, itaque laborum molestiae quae quasi quos temporibus vitae voluptatem! Accusamus accusantium aliquam
        aliquid commodi doloribus esse est et facere nam, nisi quam qui vel.</p>

{% endblock %}{# end content #}
{% block scripts %}
{% endblock %}{# end scripts #}