{% extends template %}
{% block content %}

    <h1>Oferta 1</h1>
    <p>Animi aperiam, consectetur cupiditate ducimus eius ex
        excepturi facilis fuga id inventore necessitatibus neque nisi odit omnis possimus provident quam qui quisquam
        rem rerum sit ut veritatis voluptatibus? Ab incidunt iste repellat.</p>

{% endblock %}