@import "compass";
@import "mixins/breakpoint";
@import "mixins/mixins";
@import "mixins/clearfix";
@import "colors";
@import "fonts";

//@import "sprites/*.png"; // Create sprites with src/images/sprites/*.png
//$sprites: sprite-map("sprites/*.png");
$disable-magic-sprite-selectors: true;


.blog {
  .mainContentTitle {
    background-color: $cl-gray;
    padding: 30px 15px;
    @include breakpoint ($tablet) {
      min-height:200px;
    }
    @include breakpoint ($desktop) {
      min-height: 360px;
    }
    text-align: center;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: $font-secondary;
    .title {
      font-size: 2rem;
      margin:15px;
      text-shadow: 1px 1px 5px transparentize($cl-text,.5);
      @include breakpoint ($tablet) {
        font-size: 3rem;
      }
      @include breakpoint ($desktop) {
        font-size: 4rem;
        position: absolute;
        transform: translate(-50%,-50%);
        width: 1175px;
        top:50%;
        left:50%;
      }
    }
  }
  &__articleInfo {
    border-bottom:1px solid lighten($cl-gray,40);
    margin-bottom:15px;
    padding-bottom:15px;
    padding-top:15px;
    @include clearfix2;
    &Date {
      display: block;
      text-align: center;
      color: $cl-gray;
      @include breakpoint ($tablet) {
        float: left;
        text-align: left;
      }
    }
    &Category {
      display: block;
      text-align: center;
      color: $cl-red;
      text-transform: uppercase;
      @include breakpoint ($tablet) {
        float: right;
        text-align:right;
      }
    }
  }
  &__article {
    &Author {
      @include clearfix2;
      margin-top:30px;
      padding-top:15px;
      border-top:1px solid lighten($cl-gray,40);
      border-bottom:1px solid lighten($cl-gray,40);
      &Photo {
        float: right;
        margin-left:15px;
        font-size: .75rem;
        height: 120px;
        width: 120px;
      }
      &Name {
        text-align: right;
        font-family: $font-tertiary;
        margin-bottom: 0;
        font-size: 2rem;
        display: block;
        @include breakpoint ($tablet) {
          margin-top:40px;
        }
      }
      &Desc {
        font-size: .85rem;
        float: right;
        text-align: right;
        display: block;
        max-width:240px;
      }
    }
    &AfterContent {
      margin-top:30px;
    }
  }

  &__intro {
    font-size: 1.2em;
    font-family: $font-secondary;
    color: lighten($cl-text,20);
    line-height: 1.5em;
    &:first-letter {
      font-size: 2.4em;
      line-height: 1.5rem;
      vertical-align: -.22em;
      font-style: italic;
    }
  }
  &__articlesList {
    padding-top:30px;
    &Item {
      border-bottom: 1px solid lighten($cl-gray,40);
      margin-bottom:15px;
      padding-bottom:15px;
      text-align: center;
      @include breakpoint ($tablet) {
        text-align: left;
      }
      .title {
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 1.2rem;
        @include breakpoint ($tablet) {
          font-size: 1.5rem;
        }
        @include breakpoint ($desktop) {
          font-size: 2rem;
        }
        &.title--3 {
          font-size: 1rem;
        }
      }
      &First {
        margin-bottom:15px;
        background-size:cover;
        background-position: center center;
        .title {
          margin-top:15px;
          margin-left:15px;
          margin-right:15px;
          text-shadow: 1px 1px 5px transparentize($cl-text,.5);
          font-family: $font-secondary;
          font-size: 1.5rem;
          @include breakpoint ($tablet) {
            font-size: 2rem;
          }
          @include breakpoint ($desktop) {
            font-size: 3rem;
          }
        }
        &Date {
          font-family: $font-secondary;
          text-shadow: 1px 1px 5px transparentize($cl-text,.5);
          text-align: center;
          font-size: 1.2rem;
          margin-top:10px;
        }
        padding-top:10px;
        &Intro {
          text-align: center;
          padding:15px;
          background: transparentize($cl-bg,.25);
          color: $cl-text;
        }
      }
      &Date {
        color: $cl-gray;
        font-size: .75rem;
      }
      &More {
        @include breakpoint ($tablet) {
          text-align: right;
        }
      }
      &Image {
        &Intro {
          @include breakpoint ($tablet) {
            padding-right:25px;
          }
        }
      }
    }
  }
  &__pagination {
    text-align: center;
    display: block;
    margin-bottom: 30px;
    a{
      padding:5px 15px;
      margin-top:6px;
      display: inline-block;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: lighten($cl-gray,40);
      &:first-child {
        border-left-width: 1px;
      }
      &:active {
        background-color: lighten($cl-text,50);
      }
    }
  }

}