.mainCopyright {
  background-color: $cl-green;
  padding:8px 15px;
  font-size: .85rem;
  text-align: center;
  box-sizing: border-box;
}
.mainFooter {
  box-sizing: border-box;
  background-color: $cl-text;
  color: lighten($cl-text,30);
  padding:15px;
  margin-top: 30px;
  .mainNavigation {
    &__list {
      text-align: center;
      @include breakpoint ($tablet) {
        text-align: left;
      }
      &Item {
        width:100%;
        @include breakpoint ($tablet) {
          width: 140px;
          &:first-child{
            margin-left: -15px;
          }
        }
        display: inline-block;
        vertical-align: top;
        &Link {
          padding:8px 15px 4px;
          display: block;
          font-size: 1.2rem;
          color: lighten($cl-text,25);
          line-height: 1.2;
        }
      }
    }
    &__subList {
      &Item {
        &Link {
          padding:4px 15px;
          font-size: .85rem;
          display: block;
          color: lighten($cl-text,15);
          line-height: 1.2;
        }
      }
    }
  }
}