.msgWindow {
  max-height: 0;
  transition: all .5s ease;
  opacity: 0;
  position: fixed;
  background-color: $cl-bg;
  text-align: center;
  width: 320px;
  box-sizing: border-box;
  max-width: 95%;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0;
  border:1px solid $cl-blue;
  border-radius: 2px;
  box-shadow: 0 0 10px transparentize($cl-blue,.7);
  overflow: hidden;
  &.isOpen {
    opacity: 1;
    max-height: 200px;
    overflow: hidden;
  }
  &.success {
    .msgWindowTitle {
      color: $cl-green;
      border-color: $cl-green;
    }
  }
  &.info {
    .msgWindowTitle {
      color: $cl-blue;
      border-color: $cl-blue;
    }
  }
  &.error {
    .msgWindowTitle {
      color: $cl-red;
      border-color: $cl-red;
    }
  }
  &Title {
    font-size: 1.5rem;
    line-height: 1.5em;
    font-family: $font-secondary;
    border-bottom: 1px solid;
    padding: 0 0 10px;
    margin: 15px 30px 15px;
  }
  &Content {
    font-size: 15px;
    line-height: 1.4;
    overflow: auto;
    padding: 0 20px 20px 20px;
  }
  &Close {
    //@include icon(btn-close,30px,30px,false);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}