
.mainNavigation {
  border-width: 1px 0;
  border-style: solid;
  border-color: lighten($cl-gray,40);
  .mainNavigation {
    &__list {
      text-align: center;
      &Item {
        position: relative;
        display: inline-block;
        .mainNavigation__listItemLink {

          &.active {
            color: $cl-red;
          }
        }

        &:hover {
          .mainNavigation__subList {
            max-height: 300px;
            border-width: 0 1px 1px 1px;
          }
        }
        &Link {
          display: block;
          padding:4px 8px;
          font-family: $font-secondary;
          font-size: 1rem;
          color: $cl-blue;
          @include breakpoint ($tablet) {
            padding:15px 30px;
            font-size: 1.2rem;
          }
        }
      }
    }
    &__subList {
      position: absolute;
      z-index: 2;
      transition: all .5s ease;
      top: 32px;
      @include breakpoint ($tablet) {
        top: 54px;
      }
      transform: translateX(-50%);
      left: 50%;
      width: 140px;
      border-width: 0;
      border-style: solid;
      border-color: lighten($cl-gray,40);
      background: $cl-bg;
      text-align: center;
      box-sizing: border-box;
      max-height: 0;
      overflow: hidden;
      &Item {
        display: block;
        &Link {
          display: block;
          padding:8px 15px;
          color: lighten($cl-blue,5);
          line-height: 1.2em;
          font-size: .85rem;
          @include breakpoint ($tablet) {
            font-size: 1rem;
          }
          &:hover {
            color: darken($cl-blue,20);
          }
        }
      }
    }
  }
}