{% extends template %}
{% block contentTitle %}
    <div class="container text-center">
        <h1 class="title title--blue title--1 text--center">
            {{ article.title }}
        </h1>
    </div>
{% endblock %}
{% block content %}

    <div class="blog__articleInfo">
        {{ article.publication_date|date("d/m/Y g:i") }}
    </div>
    <p>
        {{ article.content }}
    </p>
{% endblock %}