<div class="blog__articleAuthor">
    <div class="blog__articleAuthorPhoto"><img src="{{ blog_config.author_photo }}" alt="{{ blog_config.author_name }}"></div>
    <div class="author blog__articleAuthorName">{{ blog_config.author_name }}</div>
    <div class="blog__articleAuthorDesc">{{ blog_config.author_desc|raw }}</div>
</div>