/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/btns.scss */
.btn {
  border: 1px solid #e1e8ef;
  color: #47627d;
  line-height: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border-radius: 2px;
  padding: 1px 15px;
  font-size: .85rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 4px 0 8px;
  cursor: pointer;
  background-color: white;
}
/* line 35, ../sass/btns.scss */
.btn:hover {
  background-color: #e1e8ef;
}
/* line 38, ../sass/btns.scss */
.btn--green {
  border-color: #248f70;
  background-color: #1a6650;
  color: white;
}
/* line 42, ../sass/btns.scss */
.btn--green:hover {
  background-color: #103d30;
}
/* line 46, ../sass/btns.scss */
.btn--red {
  border-color: #dc726d;
  background-color: #d24a44;
  color: white;
}
/* line 50, ../sass/btns.scss */
.btn--red:hover {
  background-color: #b7322c;
}
/* line 54, ../sass/btns.scss */
.btn--small {
  font-size: .75rem;
  padding: 2px 5px;
  line-height: 1.2em;
}



/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/forms.scss */
label {
  color: #47627d;
  font-size: .8rem;
  line-height: 1.5rem;
}

/* line 26, ../sass/forms.scss */
input[type="text"],
input[type="password"],
input[type="number"],
select {
  border: 1px solid #e1e8ef;
  color: #47627d;
  line-height: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 1rem;
  margin: 4px 0 8px;
}

/* line 40, ../sass/forms.scss */
table input[type="text"],
table input[type="password"],
table input[type="number"],
table select {
  font-size: 0.9rem;
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/login.scss */
.login {
  background-color: white;
  position: fixed;
  text-align: center;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 95%;
  z-index: 10;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 32, ../sass/login.scss */
.login__title {
  font-family: "Lora", serif;
  font-size: 3rem;
  line-height: 1.5em;
}
/* line 37, ../sass/login.scss */
.login__subTitle {
  font-family: "Muli", sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.5em;
}
/* line 44, ../sass/login.scss */
.login input {
  text-align: center;
}

/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/main.scss */
body {
  background-color: white;
  font-family: "Muli", sans-serif;
  line-height: 1.5em;
}
/* line 6, ../sass/mixins/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}

/* line 28, ../sass/main.scss */
a {
  text-decoration: none;
  color: #47627d;
}

/* line 32, ../sass/main.scss */
.aside {
  position: fixed;
  z-index: 5;
  width: 240px;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #47627d;
  background-color: #222f3c;
}
/* line 42, ../sass/main.scss */
.aside__brand {
  padding: 15px;
  background-color: #10161b;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 47, ../sass/main.scss */
.aside__brandTitle {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 1.5em;
}
/* line 51, ../sass/main.scss */
.aside__brandTitle a {
  color: white;
}
/* line 55, ../sass/main.scss */
.aside__brandSubTitle {
  font-family: "Muli", sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.5em;
  color: #47627d;
}
/* line 65, ../sass/main.scss */
.aside__nav a {
  font-family: "Muli", sans-serif;
  color: #47627d;
  padding: 15px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: relative;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}
/* line 74, ../sass/main.scss */
.aside__nav a.active {
  color: white;
  background-color: #1c2732;
}
/* line 77, ../sass/main.scss */
.aside__nav a.active:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: #1a6650;
}
/* line 86, ../sass/main.scss */
.aside__nav a.active:hover {
  background-color: #172028;
}
/* line 90, ../sass/main.scss */
.aside__nav a:hover {
  background-color: #2b3c4c;
}

/* line 96, ../sass/main.scss */
.header, .content {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 100, ../sass/main.scss */
.header {
  position: fixed;
  padding-left: 240px;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #e1e8ef;
  border-bottom: 1px solid #9eb5cc;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 110, ../sass/main.scss */
.header__user {
  float: right;
  padding: 22px 15px;
}
/* line 113, ../sass/main.scss */
.header__userRole {
  text-transform: uppercase;
  font-size: .85rem;
  color: #47627d;
  margin-right: 20px;
}

/* line 121, ../sass/main.scss */
.content {
  padding: 95px 15px 15px 255px;
}
/* line 123, ../sass/main.scss */
.content h1 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 1.5em;
  border-bottom: 1px solid #e1e8ef;
  margin-bottom: 25px;
  color: #47627d;
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 56, sprites/*.png */
.sprites-sprite, .no-svg .msgWindowClose {
  background-image: url('../images/sprites-s758c60f046.png');
  background-repeat: no-repeat;
}

/* line 11, ../sass/msgWindow.scss */
.msgWindow {
  max-height: 0;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  opacity: 0;
  position: fixed;
  background-color: white;
  text-align: center;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 95%;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  border: 1px solid #222f3c;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(71, 98, 125, 0.3);
          box-shadow: 0 0 10px rgba(71, 98, 125, 0.3);
  overflow: hidden;
}
/* line 30, ../sass/msgWindow.scss */
.msgWindow.isOpen {
  opacity: 1;
  max-height: 200px;
  overflow: hidden;
}
/* line 36, ../sass/msgWindow.scss */
.msgWindow.success .msgWindowTitle {
  color: #1a6650;
}
/* line 41, ../sass/msgWindow.scss */
.msgWindow.error .msgWindowTitle {
  color: #d24a44;
}
/* line 45, ../sass/msgWindow.scss */
.msgWindowTitle {
  font-weight: 600;
  font-size: 18px;
  padding: 20px 20px 0 20px;
  line-height: 1.4;
}
/* line 51, ../sass/msgWindow.scss */
.msgWindowContent {
  font-size: 15px;
  line-height: 1.4;
  overflow: auto;
  padding: 0 20px 20px 20px;
}
/* line 57, ../sass/msgWindow.scss */
.msgWindowClose {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('data:image/svg+xml;charset=utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IldhcnN0d2FfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjMwcHgiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzAgMzAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iIzIyMkYzQyIgZD0iTTE2Ljk4NCwyOS42N2MtMC4wNzQsMC0wLjE0Ny0wLjAyOS0wLjIwMy0wLjA4NGwtNi44ODktNi44OTNsLTYuODksNi44ODgNCgljLTAuMDU0LDAuMDU0LTAuMTI4LDAuMDg1LTAuMjA0LDAuMDg1bDAsMGMtMC4wNzgsMC0wLjE1MS0wLjAzMi0wLjIwNC0wLjA4NWwtMi4xODMtMi4xODVjLTAuMTEyLTAuMTEyLTAuMTEyLTAuMjk2LDAtMC40MDgNCglsNi44OS02Ljg4OGwtNi44ODgtNi44OTNjLTAuMTEzLTAuMTEzLTAuMTEzLTAuMjk2LDAtMC40MDlsMi4xODMtMi4xODJjMC4wNTUtMC4wNTUsMC4xMjgtMC4wODYsMC4yMDUtMC4wODZsMCwwDQoJYzAuMDc2LDAsMC4xNSwwLjAzMSwwLjIwNCwwLjA4Nmw2Ljg4OSw2Ljg5Mmw2Ljg5Mi02Ljg4OGMwLjA1Ni0wLjA1NSwwLjEzLTAuMDg0LDAuMjAzLTAuMDg0YzAuMDc0LDAsMC4xNDcsMC4wMjksMC4yMDUsMC4wODQNCglsMi4xODMsMi4xODRjMC4wNTQsMC4wNTQsMC4wODQsMC4xMjgsMC4wODQsMC4yMDRjMCwwLjA3Ni0wLjAzMSwwLjE0OS0wLjA4NCwwLjIwNEwxMi40ODQsMjAuMWw2Ljg4OCw2Ljg5Mg0KCWMwLjA1NSwwLjA1NSwwLjA4NSwwLjEyOCwwLjA4NSwwLjIwNGMwLDAuMDc3LTAuMDMxLDAuMTUtMC4wODUsMC4yMDVsLTIuMTg2LDIuMTg0QzE3LjEzMiwyOS42NDMsMTcuMDU5LDI5LjY3LDE2Ljk4NCwyOS42N3oiLz4NCjwvc3ZnPg0K');
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* line 17, ../sass/mixins/_mixins.scss */
.no-svg .msgWindowClose {
  background-position: 0 0;
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/tables.scss */
table {
  width: 100%;
}
/* line 24, ../sass/tables.scss */
table tr td, table tr th {
  padding: 5px;
}
/* line 25, ../sass/tables.scss */
table tr td:last-child, table tr th:last-child {
  text-align: right;
}
/* line 33, ../sass/tables.scss */
table thead tr th {
  font-family: "Lora", serif;
  color: #222f3c;
  border-bottom: 2px solid #9eb5cc;
}
/* line 43, ../sass/tables.scss */
table tbody tr:hover td {
  background-color: #f2f5f8;
}
/* line 47, ../sass/tables.scss */
table tbody tr td {
  font-family: "Muli", sans-serif;
  font-size: .9rem;
  border-bottom: 1px solid #e1e8ef;
}
/* line 56, ../sass/tables.scss */
table tfoot tr td {
  font-family: "Muli", sans-serif;
  border-bottom: none;
  font-size: .9rem;
}
