/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/btns.scss */
.btn {
  border: 1px solid #e1e8ef;
  color: #47627d;
  font-family: "Muli", sans-serif;
  line-height: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border-radius: 2px;
  padding: 1px 15px;
  font-size: .85rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 4px 0 8px;
  cursor: pointer;
  background-color: white;
}
/* line 36, ../sass/btns.scss */
.btn:hover {
  background-color: #e1e8ef;
}
/* line 39, ../sass/btns.scss */
.btn--green {
  border-color: #0cbb6c;
  background-color: #098b50;
  color: white;
}
/* line 43, ../sass/btns.scss */
.btn--green:hover {
  background-color: #065b34;
}
/* line 47, ../sass/btns.scss */
.btn--red {
  border-color: #dc726d;
  background-color: #d24a44;
  color: white;
}
/* line 51, ../sass/btns.scss */
.btn--red:hover {
  background-color: #b7322c;
}
/* line 55, ../sass/btns.scss */
.btn--azure {
  border-color: #0197ff;
  background-color: #0079cd;
  color: white;
}
/* line 59, ../sass/btns.scss */
.btn--azure:hover {
  background-color: #005b9a;
}
/* line 63, ../sass/btns.scss */
.btn--small {
  font-size: .65rem;
  font-weight: 600;
  padding: 2px 5px;
  line-height: 1.2em;
}
/* line 69, ../sass/btns.scss */
.btn--right {
  float: right;
  margin-bottom: 0;
}



/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/forms.scss */
label {
  color: #9eb5cc;
  font-size: .75rem;
  line-height: 1.5rem;
}

/* line 26, ../sass/forms.scss */
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="time"],
input[type="password"],
input[type="number"],
input[type="color"],
select {
  border: 1px solid #e1e8ef;
  color: #47627d;
  line-height: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 1rem;
  margin: 4px 0 8px;
}
/* line 43, ../sass/forms.scss */
input[type="text"].code,
input[type="date"].code,
input[type="datetime"].code,
input[type="time"].code,
input[type="password"].code,
input[type="number"].code,
input[type="color"].code,
select.code {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
/* line 47, ../sass/forms.scss */
input[type="text"].input--narrow,
input[type="date"].input--narrow,
input[type="datetime"].input--narrow,
input[type="time"].input--narrow,
input[type="password"].input--narrow,
input[type="number"].input--narrow,
input[type="color"].input--narrow,
select.input--narrow {
  width: auto;
}

/* line 52, ../sass/forms.scss */
input[type="color"] {
  min-height: 30px;
  width: 70px;
  padding: 5px;
  background: transparent;
}

/* line 58, ../sass/forms.scss */
input[disabled] {
  background: #e1e8ef;
}

/* line 61, ../sass/forms.scss */
table input[type="text"],
table input[type="password"],
table input[type="date"],
table input[type="datetime"],
table input[type="time"],
table input[type="number"],
table select {
  font-size: 0.9rem;
}

/* line 70, ../sass/forms.scss */
textarea {
  border: 1px solid #e1e8ef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 1rem;
  margin: 4px 0 8px;
  height: 100px;
}
/* line 79, ../sass/forms.scss */
textarea.pageContent {
  height: 500px;
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/login.scss */
.login {
  background-color: white;
  position: fixed;
  text-align: center;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 95%;
  z-index: 10;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 32, ../sass/login.scss */
.login__title {
  font-family: "Lora", serif;
  font-size: 3rem;
  line-height: 1.5em;
  color: #47627d;
}
/* line 38, ../sass/login.scss */
.login__subTitle {
  font-family: "Muli", sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.5em;
}
/* line 45, ../sass/login.scss */
.login input {
  text-align: center;
}

/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/main.scss */
body {
  background-color: white;
  font-family: "Muli", sans-serif;
  line-height: 1.5em;
}
/* line 6, ../sass/mixins/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 28, ../sass/main.scss */
body.no-fa i, body.no-fa .aside__navIco {
  display: none;
}

/* line 33, ../sass/main.scss */
a {
  text-decoration: none;
  color: #47627d;
}

/* line 37, ../sass/main.scss */
hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #e1e8ef;
  height: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 45, ../sass/main.scss */
.aside {
  position: fixed;
  z-index: 5;
  width: 48px;
  -webkit-transition: width .5s ease;
          transition: width .5s ease;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #47627d;
  background-color: #222f3c;
}
/* line 50, ../sass/main.scss */
.aside:hover {
  width: 240px;
}
/* line 52, ../sass/main.scss */
.aside:hover .aside__brandTitle {
  opacity: 1;
}
/* line 55, ../sass/main.scss */
.aside:hover .aside__brandSubTitle {
  opacity: 1;
}
@media (min-width: 1200px) {
  /* line 45, ../sass/main.scss */
  .aside {
    width: 240px;
  }
}
/* line 69, ../sass/main.scss */
.aside__brand {
  padding: 15px;
  background-color: #10161b;
  height: 80px;
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 75, ../sass/main.scss */
.aside__brandTitle {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
          transition: opacity .5s ease;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 1.5em;
}
@media (min-width: 1200px) {
  /* line 75, ../sass/main.scss */
  .aside__brandTitle {
    opacity: 1;
  }
}
/* line 84, ../sass/main.scss */
.aside__brandTitle a {
  color: white;
}
/* line 88, ../sass/main.scss */
.aside__brandSubTitle {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
          transition: opacity .5s ease;
  font-family: "Muli", sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.5em;
  color: #47627d;
}
@media (min-width: 1200px) {
  /* line 88, ../sass/main.scss */
  .aside__brandSubTitle {
    opacity: 1;
  }
}
/* line 103, ../sass/main.scss */
.aside__navIco {
  width: 22px;
  margin-right: 6px;
  display: inline-block;
  text-align: center;
}
/* line 111, ../sass/main.scss */
.aside__nav li:hover .aside__navSubMenu {
  max-height: 200px;
}
/* line 116, ../sass/main.scss */
.aside__navItem {
  font-family: "Muli", sans-serif;
  color: #47627d;
  padding: 15px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  position: relative;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}
/* line 125, ../sass/main.scss */
.aside__navItem.active {
  color: white;
  background-color: #1c2732;
}
/* line 128, ../sass/main.scss */
.aside__navItem.active:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: #098b50;
}
/* line 137, ../sass/main.scss */
.aside__navItem.active:hover {
  background-color: #172028;
}
/* line 141, ../sass/main.scss */
.aside__navItem:hover {
  background-color: #2b3c4c;
}
/* line 145, ../sass/main.scss */
.aside__navSubMenu {
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  overflow: hidden;
  max-height: 0;
}
/* line 150, ../sass/main.scss */
.aside__navSubItem {
  padding: 5px 15px 5px 40px;
  font-size: .85em;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: relative;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}
/* line 158, ../sass/main.scss */
.aside__navSubItem:hover {
  background-color: #2b3c4c;
}

/* line 164, ../sass/main.scss */
.header, .content {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 168, ../sass/main.scss */
.header {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  padding-left: 60px;
  -webkit-transition: padding-left .5s ease;
          transition: padding-left .5s ease;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(225, 232, 239, 0.95);
  border-bottom: 1px solid #9eb5cc;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 181, ../sass/main.scss */
.header__user {
  float: right;
  padding: 20px 15px;
}
/* line 184, ../sass/main.scss */
.header__userRole {
  display: none;
  text-transform: uppercase;
  font-size: .85rem;
  color: #47627d;
  margin-right: 20px;
}
@media (min-width: 768px) {
  /* line 184, ../sass/main.scss */
  .header__userRole {
    display: inline;
  }
}
/* line 195, ../sass/main.scss */
.header__front {
  float: right;
  padding: 20px 15px;
  border-right: 1px solid #9eb5cc;
}
/* line 196, ../sass/main.scss */
.header__frontTxt {
  display: none;
}
@media (min-width: 768px) {
  /* line 196, ../sass/main.scss */
  .header__frontTxt {
    display: inline;
  }
}

/* line 207, ../sass/main.scss */
.content {
  padding: 95px 15px 15px 60px;
  -webkit-transition: padding-left .5s ease;
          transition: padding-left .5s ease;
}
@media (min-width: 1200px) {
  /* line 207, ../sass/main.scss */
  .content {
    padding-left: 255px;
  }
}
/* line 213, ../sass/main.scss */
.content h1 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 1.5em;
  border-bottom: 1px solid #e1e8ef;
  margin-bottom: 25px;
  color: #47627d;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.content h1:after {
  content: "";
  display: table;
  clear: both;
}
/* line 222, ../sass/main.scss */
.content h2 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5em;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #47627d;
}
/* line 231, ../sass/main.scss */
.content__routing {
  min-width: 840px;
}
/* line 234, ../sass/main.scss */
.content__page {
  min-width: 480px;
}
/* line 237, ../sass/main.scss */
.content__menu {
  min-width: 480px;
}

/* line 241, ../sass/main.scss */
.pagination {
  display: block;
  margin-bottom: 30px;
}
/* line 245, ../sass/main.scss */
.pagination a {
  padding: 5px 15px;
  margin-top: 6px;
  display: inline-block;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e1e8ef;
  color: #0079cd;
}
/* line 253, ../sass/main.scss */
.pagination a:first-child {
  border-left-width: 1px;
}
/* line 256, ../sass/main.scss */
.pagination a.active {
  color: #222f3c;
  background: #e1e8ef;
}
/* line 260, ../sass/main.scss */
.pagination a:hover {
  background: #0079cd;
  color: white;
  border-color: #34acff;
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 56, sprites/*.png */
.sprites-sprite, .no-svg .msgWindowClose {
  background-image: url('../images/sprites-s758c60f046.png');
  background-repeat: no-repeat;
}

/* line 11, ../sass/msgWindow.scss */
.msgWindow {
  max-height: 0;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  opacity: 0;
  position: fixed;
  background-color: white;
  text-align: center;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 95%;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  border: 1px solid #222f3c;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(71, 98, 125, 0.3);
          box-shadow: 0 0 10px rgba(71, 98, 125, 0.3);
  overflow: hidden;
}
/* line 30, ../sass/msgWindow.scss */
.msgWindow.isOpen {
  opacity: 1;
  max-height: 200px;
  overflow: hidden;
}
/* line 36, ../sass/msgWindow.scss */
.msgWindow.success .msgWindowTitle {
  color: #098b50;
  border-color: #098b50;
}
/* line 42, ../sass/msgWindow.scss */
.msgWindow.info .msgWindowTitle {
  color: #0079cd;
  border-color: #0079cd;
}
/* line 48, ../sass/msgWindow.scss */
.msgWindow.error .msgWindowTitle {
  color: #d24a44;
  border-color: #d24a44;
}
/* line 53, ../sass/msgWindow.scss */
.msgWindowTitle {
  font-size: 1.5rem;
  line-height: 1.5em;
  font-family: "Lora", serif;
  border-bottom: 1px solid;
  padding: 0 0 10px;
  margin: 15px 30px 15px;
}
/* line 61, ../sass/msgWindow.scss */
.msgWindowContent {
  font-size: 15px;
  line-height: 1.4;
  overflow: auto;
  padding: 0 20px 20px 20px;
}
/* line 67, ../sass/msgWindow.scss */
.msgWindowClose {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url('data:image/svg+xml;charset=utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IldhcnN0d2FfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjMwcHgiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzAgMzAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iIzIyMkYzQyIgZD0iTTE2Ljk4NCwyOS42N2MtMC4wNzQsMC0wLjE0Ny0wLjAyOS0wLjIwMy0wLjA4NGwtNi44ODktNi44OTNsLTYuODksNi44ODgNCgljLTAuMDU0LDAuMDU0LTAuMTI4LDAuMDg1LTAuMjA0LDAuMDg1bDAsMGMtMC4wNzgsMC0wLjE1MS0wLjAzMi0wLjIwNC0wLjA4NWwtMi4xODMtMi4xODVjLTAuMTEyLTAuMTEyLTAuMTEyLTAuMjk2LDAtMC40MDgNCglsNi44OS02Ljg4OGwtNi44ODgtNi44OTNjLTAuMTEzLTAuMTEzLTAuMTEzLTAuMjk2LDAtMC40MDlsMi4xODMtMi4xODJjMC4wNTUtMC4wNTUsMC4xMjgtMC4wODYsMC4yMDUtMC4wODZsMCwwDQoJYzAuMDc2LDAsMC4xNSwwLjAzMSwwLjIwNCwwLjA4Nmw2Ljg4OSw2Ljg5Mmw2Ljg5Mi02Ljg4OGMwLjA1Ni0wLjA1NSwwLjEzLTAuMDg0LDAuMjAzLTAuMDg0YzAuMDc0LDAsMC4xNDcsMC4wMjksMC4yMDUsMC4wODQNCglsMi4xODMsMi4xODRjMC4wNTQsMC4wNTQsMC4wODQsMC4xMjgsMC4wODQsMC4yMDRjMCwwLjA3Ni0wLjAzMSwwLjE0OS0wLjA4NCwwLjIwNEwxMi40ODQsMjAuMWw2Ljg4OCw2Ljg5Mg0KCWMwLjA1NSwwLjA1NSwwLjA4NSwwLjEyOCwwLjA4NSwwLjIwNGMwLDAuMDc3LTAuMDMxLDAuMTUtMC4wODUsMC4yMDVsLTIuMTg2LDIuMTg0QzE3LjEzMiwyOS42NDMsMTcuMDU5LDI5LjY3LDE2Ljk4NCwyOS42N3oiLz4NCjwvc3ZnPg0K');
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* line 17, ../sass/mixins/_mixins.scss */
.no-svg .msgWindowClose {
  background-position: 0 0;
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/pages.scss */
.page__block {
  min-height: 45px;
}
/* line 6, ../sass/mixins/_clearfix.scss */
.page__block:after {
  content: "";
  display: table;
  clear: both;
}
/* line 25, ../sass/pages.scss */
.page__blockLabel {
  margin-top: 8px;
}
@media (min-width: 768px) {
  /* line 25, ../sass/pages.scss */
  .page__blockLabel {
    width: 15%;
    float: left;
  }
}
@media (min-width: 768px) {
  /* line 32, ../sass/pages.scss */
  .page__blockInput {
    float: left;
    width: 85%;
  }
}

/* line 13, ../sass/mixins/_clearfix.scss */
.clearfix {
  clear: both;
}

/* line 6, ../sass/mixins/_clearfix.scss */
.clearfix2:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/tables.scss */
table {
  width: 100%;
}
/* line 24, ../sass/tables.scss */
table colgroup col:first-child {
  width: 20px;
  border-right: 1px solid #ebf0f4;
}
/* line 32, ../sass/tables.scss */
table tr td, table tr th {
  padding: 5px;
}
/* line 33, ../sass/tables.scss */
table tr td:last-child, table tr th:last-child {
  text-align: right;
}
/* line 41, ../sass/tables.scss */
table thead tr th {
  font-family: "Lora", serif;
  color: #222f3c;
  border-bottom: 2px solid #9eb5cc;
}
/* line 51, ../sass/tables.scss */
table tbody tr:hover td {
  background-color: #f2f5f8;
}
/* line 55, ../sass/tables.scss */
table tbody tr td {
  font-family: "Muli", sans-serif;
  font-size: .9rem;
  border-bottom: 1px solid #e1e8ef;
}
/* line 64, ../sass/tables.scss */
table tfoot tr td {
  font-family: "Muli", sans-serif;
  border-bottom: none;
  font-size: .9rem;
}
